<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{{ pageName ? pageName : "Page Name" }} - Transport Canberra</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
		
		<!-- metadata -->
		<meta name="description" content="">
		<meta name="dcterms.title" content="">
		<meta name="dcterms.description" content="">
		<meta name="dcterms.created" content="">
		<meta name="dcterms.date" content="">
		<meta name="dcterms.publisher" content="">
		<meta name="dcterms.creator" content="">
		<meta name="dcterms.identifier" content="">
		<meta name="robots" content="index,follow" />
		<!-- end metadata -->
		
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
		<link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/apple-touch-icon-57x57-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
		
		<!-- additional CSS should be referenced after global styles -->
		<link rel="stylesheet" href="/css/screen.css">
		
		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="/js/html5shiv.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->
		<!--[if (gte IE 6)&(lte IE 8)]>
			<script type="text/javascript" src="/js/selectivizr-min.js"></script>
		<![endif]-->
		
		<!-- Main JS file -->
		<script src="/js/bundle.js" type="text/javascript"></script>
		
	</head>

	<body class="page-background">
	
		<!--noindex-->
		<div id="accessibilitycontainer" class="clearfix">
			<ul>
				<li><a id="skip" href="#main">Skip to content</a></li>
			</ul>
		</div><!-- accessibilitycontainer -->
		
		<div id="headercontainer" class="clearfix" role="banner">
		
				<div id="siteinformationnav">
					<ul>
						<li><a href="#">Accessibility</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div><!-- siteinformationnav -->
				
				<div id="logocontainer">
				
					<!-- site logos -->
					<a href="http://www.act.gov.au">
						<img src="/img/actgovlogo.png" width="157" height="80" alt="ACT Government" class="screenlogo"><!-- screenlogo is the class for logos to appear on screen -->
					</a>
					<img src="/img/actgovlogoprint.png" width="157" height="80" alt="ACT Government Logo" class="printlogo"><!-- printlogo is the class for logos to appear on print -->
					<!-- end site logos -->
					
					<h1>
						<em><!-- site title -->Single Public Face Template<!-- end site title --></em>
					</h1>
					
				</div><!-- logocontainer -->
				
				<!-- whole of government search -->
				<form action="http://www.search.act.gov.au/s/search.html" method="get" id="sitesearch" role="search">
					<input type="search" name="query" id="query-global-search" title="Search" placeholder="Search" class="text" />
					<input type="hidden" name="collection" value="act-gov">
					<input type="hidden" name="profile" value="_default">
					<input type="submit" value="Search" class="button" />
				</form>
				<!-- end whole of government search -->
				
		</div><!-- headercontainer -->
		
		
		<div id="navcontainer" class="clearfix">
				
			<!-- megamenu/dropdown menu -->
			{% include "parts/drop-down-menu.swig" %}
			<!-- end megamenu/dropdown menu -->
				
		</div><!-- navcontainer -->
		<!--endnoindex-->
		<hr class="visuallyhidden" />
		
		<!-- emergency/alert -->
		{% if showAlert %}
			{% include "parts/info-alert.swig" %}
		{% endif %}
		<!-- end emergency/alert -->
		
		<div id="contentcontainer" class="clearfix">

			<!--noindex-->
			<!-- left column menu -->
			{% if hasSidebar %}
				{% include './parts/left-menu.swig' %}
			{% endif %}
			<!-- end left column -->
			<!--endnoindex-->
			
			<!-- home page rightcolumn -->

			<!-- end home page rightcolumn -->
			
			<!-- slideshow -->
			<!-- end slideshow -->

			<div id="contentcolumn" class=""><!-- edit this class for column layouts-->
				
				<!--noindex-->
				<!-- breadcrumbs -->
				{% include "parts/breadcrumbs.swig" %}
				<!-- end breadcrumbs -->
				<!--endnoindex-->
				
				<div id="main" class="section" role="main">
				
					<!-- main content -->
					{% include "parts/content.swig" %}
					<!-- content goes here -->
					<!-- end main content -->
					
					<div id="addthisbutton" class="clearfix">
					
						<!--noindex-->
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox">
							<a class="addthis_button" title="Share" href="#" tabindex="-1">
								<img width="125" height="16" alt="Share" src="//ct1.addthis.com/static/btn/v2/lg-share-en.gif">
							</a>
						</div>
						<!-- AddThis Button END -->
						<!--endnoindex-->
					
					</div><!-- addthisbutton -->
					
				</div><!-- section -->
				
			</div><!-- contentcolumn -->
			
			<!-- level 2 rightcolumn -->

			<!-- end level 2 rightcolumn -->
			
		</div><!-- contentcontainer -->
		
		<hr class="visuallyhidden" />
		
		<!--noindex-->
		<div id="footercontainer" class="clearfix">
		
			<!-- fat footer -->
			{% include "parts/fat-footer.swig" %}
			<!-- end fat footer -->
			
			<!-- other links footer -->

			<!-- end other links footer -->
			
			<!-- standard footer -->
			<div id="footersitelinksblock" role="contentinfo">
				<ul id="footersitelinkscontent">
					<li><a href="https://www.canberraconnect.act.gov.au/app/ask/">Feedback</a> | </li>
					<li><a href="#">Languages</a> | </li>
					<li><a href="#">Sitemap</a> | </li>
					<li><a href="http://www.jobs.act.gov.au/">Jobs ACT</a> | </li>
					<li><a href="#">Privacy</a> | </li>
					<li><a href="#">Disclaimer</a> | </li>
					<li><a href="#">Copyright</a></li>
				</ul>
				<p class="page-updated"><!-- page updated -->Page last updated on 29 October 2012<!-- end page updated --></p>
				<ul id="footerlogoscontent">
					<li>
						<a href="http://www.timetotalk.act.gov.au" class="footer-logo time-to-talk">
							<span>Time to Talk Canberra</span>
						</a>
					</li>
					<li>
						<a href="http://www.canberraconnect.act.gov.au" class="footer-logo canberra-connect">
							<span>Canberra Connect</span>
						</a>
					</li>
					<li>
						<a href="http://www.act.gov.au" class="footer-logo act-government">
							<span>ACT Government</span>
						</a>
					</li>
				</ul><!-- footerlogoscontent -->
				
			</div><!-- footersitelinksblock -->
			<!-- end standard footer -->
			
		</div>
		<!--endnoindex-->
		
		<script type="text/javascript" src="js/jquery.funnelback-completion.js"></script>
		<!-- additional JS should be referenced after this -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXXXX']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ddf7ff1e3263d1"></script> -->
	</body>
</html>