        <ul id="breadcrumbs">
          <li><a href="#" class="home">Home</a></li>
          <li><a href="#">Level Two</a></li>
          <li><span class="active">Level Three</span></li><!-- class "active" for current page -->
        </ul><!-- breadcrumbs -->