          <h1>Heading 1</h1>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi <em>tristique senectus</em>
				      et netus et <a href="#">hyperlink example</a> malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue.</p><p>Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et <a href="#">hyperlink example</a> malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue.</p><p>Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				  <h2>Heading 2</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur <strong>adipiscing elit</strong>. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; <a href="#">hyperlink example</a> Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. <em>Nunc in iaculis sem</em>. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				  
				  <h3>Heading 3</h3>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				  <h4>Heading 4</h4>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante <a href="#">hyperlink example</a> ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				  <h5>Heading 5</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				  <h6>Heading 6</h6>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				      
				      <hr />
				      
				  <h2>Table Example</h2>
				  <table>
				      <caption>I am a table caption</caption>
				      <tr>
				          <th scope="col">Col Heading One</th>
				          <th scope="col">Col Heading Two</th>
				          <th scope="col">Col Heading Three</th>
				      </tr>
				      <tr>
				          <td>Row 1 Cell One</td>
				  
				          <td>Row 1 Cell Two</td>
				          <td>Row 1 Cell Three</td>
				      </tr>
				      <tr>
				          <td>Row 2 Cell One</td>
				          <td>Row 2 Cell Two</td>
				          <td>Row 2 Cell Three</td>
				  
				      </tr>
				      <tr>
				          <td>Row 3 Cell One</td>
				          <td>Row 3 Cell Two</td>
				          <td>Row 3 Cell Three</td>
				      </tr>
				  </table>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				      
				  <hr/>
				  
				  <h2>Unordered Lists</h2>
				  <ul>
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit
				          <ul>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
				                  <ul>
				                      <li>Sed non diam nisl, a congue augue</li>
				  
				                      <li>Sed non diam nisl, a congue augue</li>
				                  </ul>
				              </li>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
				                  <ul>
				                      <li>Sed non diam nisl, a congue augue</li>
				                  </ul>
				              </li>
				  
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices </li>
				          </ul>
				      </li>
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus
				          felis
				          <ul>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices </li>
				          </ul>
				      </li>
				  
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus
				          felis.
				          <ul>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices </li>
				          </ul>
				      </li>
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus
				          felis.</li>
				  </ul>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				      
				  <hr />
				  
				  <h2>Ordered Lists</h2>
				  <ol>
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit
				          <ol>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
				                  <ol>
				                      <li>Sed non diam nisl, a congue augue</li>
				                      <li>Sed non diam nisl, a congue augue</li>
				  
				                  </ol>
				              </li>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
				                  <ol>
				                      <li>Sed non diam nisl, a congue augue</li>
				                  </ol>
				              </li>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices </li>
				  
				          </ol>
				      </li>
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus
				          felis
				          <ol>
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices </li>
				          </ol>
				      </li>
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus
				          felis.
				          <ol>
				  
				              <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices </li>
				          </ol>
				      </li>
				      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus
				          felis.</li>
				  </ol>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>
				  
				  <hr />    
				  
				  <h2>Definition Lists</h2>
				  <h3>Single Term and Description</h3>
				  <dl>
				  	<dt>Frog</dt>
				  	<dd>Wet green thing</dd>
				  	<dt>Rabbit</dt>
				  	<dd>Warm fluffy thing</dd>
				  </dl>
				  
				  <h3>Multiple Terms</h3>
				  <dl>
				  	<dt>Punt</dt>
				  	<dd>Kick a ball</dd>
				  	<dd>Take a bet</dd>
				  	<dt>Back-Pedalling</dt>
				  	<dd>Change opinion</dd>
				  	<dd>Go into reverse</dd>
				  </dl>
				  
				  <h3>Multiple Descriptions</h3>
				  <dl>
				  	<dt>Color</dt>
				  	<dt>Colour</dt>
				  	<dd>Any hue except white or black</dd>
				      <dt>Potato</dt>
				  	<dt>Powtayyttooww</dt>
				  	<dd>A starchy plant tuber that is one of the most important food crops, cooked and eaten as a vegetable.</dd>
				  </dl>
				      
				  <hr />    
				  
				  <h2>Images</h2>
				  
				  <p>
				      Image inside para
				      <img src="http://placebox.es/150/" width="150" height="150" alt="example image" />
				  </p>
				  
				  Text and image with no container <img src="http://placebox.es/250/" width="250" height="250" alt="example image" />
				  
				  <hr />
				  
				  <h2>Blockquote vs. Q vs. Cite</h2>
				  
				  <p>According to HTML specifications, there are three elements which are supposed to semantically mark up quotations, 
				  namely <code>&lt;blockquote&gt;</code>, <code>&lt;q&gt;</code> and <code>&lt;cite&gt;</code>. Although all intended to markup quotes, 
				  they should be used in different contexts. So when should you use what?</p>
				  
				  <p><code>&lt;blockquote&gt;</code></p>
				  
				  <blockquote cite="http://www.htmldog.com/reference/htmltags/blockquote/">
				     <p><strong>blockquote</strong> is a large quotation. The content of a blockquote element must
				        include block-level elements such as headings, lists, paragraphs
				        or div's.</p>
				     <p>The cite attribute of the blockquote tag can be used to specify the location (in the form of a URI)
				   where the quote has come from.</p>
				  </blockquote>
				  
				  <p><code>&lt;q&gt;</code></p>
				  
				  <p><strong>q</strong> is a small quotation. The content of this element is an in-line quote. 
				  Modern browsers know how to interpret <code>&lt;q&gt;</code> which is why you can style quotations using this HTML-elements via CSS. Example:</p>
				  
				  <p>Bob said <q>sexy pyjamas</q> but Chris said <q>a kimono</q></p>
				  
				  <p><code>&lt;cite&gt;</code></p>
				  
				  <p><strong>cite</strong> defines an in-line citation or reference to another source. Example:</p>
				  
				  <p>And <cite>Bob</cite> said <q>No, I think it's a banana</q>.</p>
				  
				  <p>Summing up: for large quotes use blockquote, for small quotes use q and for references to another sources cite should be used. In practice, usually only blockquote and q are used.</p>
				  
				  <hr />
				  
				  <h2>Miscellaneous Tags</h2>
				  
				  <p>The <code>&lt;abbr&gt;</code> tag describes an abbreviated phrase.</p>
				  
				  <p>By marking up abbreviations you can give useful information to browsers, spell checkers, translation systems and search-engine indexers. Example:</p>
				  
				  <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
				  
				  <p>The <code>&lt;sub&gt;</code> tag defines subscript text. Subscript text appears half a character below the baseline. Subscript text can be used for chemical formulas, like H<sub>2</sub>O.</p>
				  
				  <p>The <code>&lt;sup&gt;</code>  tag defines superscript text. Superscript text appears half a character above the baseline. Superscript text can be used for footnotes, like WWW<sup>[1]</sup>.</p>
				  
				  <p>The <code>&lt;acronym&gt;</code> tag defines an acronym.</p>
				  
				  <p>An acronym can be spoken as if it were a word, example NATO, NASA, ASAP, GUI. Example:</p>
				  
				  <p>Can I get this <acronym title="as soon as possible">ASAP</acronym>?</p>
				  
				  <p>The <code>&lt;address&gt;</code> tag defines the contact information for the author or owner of a document. This way, the reader is able to contact the document's owner.</p>
				  
				  <p>The <code>&lt;address&gt;</code> element is usually added to the header or footer of a webpage. Example</p>
				  
				  <address>
				  Written by W3Schools.com<br />
				  <a href="mailto:us@example.org">Email us</a><br />
				  Address: Box 564, Disneyland<br />
				  Phone: +12 34 56 78
				  </address>
				  
				  <hr />
				  
				  <h2>Embedded Media</h2>
				  
				  <h3>Youtube</h3>
				  
				  <p>Youtube now provides their videos as an IFRAME snippet, interesting. Example:</p>
				  
				  <iframe width="420" height="315" src="http://www.youtube.com/embed/x81iip6psks" frameborder="0" allowfullscreen></iframe>
				  
				  <p>Lets try their old OBJECT snippet. Example:</p>
				  
				  <object width="425" height="350">
				    <param name="movie" value="http://www.youtube.com/v/AyPzM5WK8ys" />
				    <param name="wmode" value="transparent" />
				    <embed src="http://www.youtube.com/v/AyPzM5WK8ys"
				           type="application/x-shockwave-flash"
				           wmode="transparent" width="425" height="350" />
				  </object>
				  
				  <p>Lets try an iframe with no source and no attributes. Example:</p>
				  
				  <iframe></iframe>
				  
				  <p>Lets try an object with no source and no attributes. Example:</p>
				  
				  <object>
				    <param name="movie" value="" />
				    <param name="wmode" value="transparent" />
				    <embed src=""
				           type="application/x-shockwave-flash"
				           wmode="transparent" />
				  </object>
				  
				  <hr />
				  
				  <h2>Code Tag</h2>
				  
				  <code>
				      // The HTML code tag lets you provide coding example but does not maintain formatting.
				      var codeExample = {};
				      var codeExampleTwo = {};
				      // A really long comment on the one line to test out what happens if this line exceeds container width A really long comment on the one line to test out what happens if this line exceeds container width A really long comment on the one line to test out what happens if this line exceeds container width
				  </code>
				  
				  <hr />
				  
				  <h2>Pre Tag</h2>
				  
				  <pre>
				      // The HTML pre tag lets you provide coding example and maintains formatting.
				      var codeExample = {};
				      var codeExampleTwo = {};
				      // A really long comment on the one line to test out what happens if this line exceeds container width A really long comment on the one line to test out what happens if this line exceeds container width A really long comment on the one line to test out what happens if this line exceeds container width
				  </pre>
				  
				  <hr /> 
				  
				  <h2>Basic Form Elements</h2>
				  
				  <form action="#" method="get">
				      <fieldset>
				      <legend>Text Inputs</legend>
				      <div>
				          <label for="input-one">Text field one:</label>
				          <input id="input-one" name="one" type="text" value="Example text field one" />
				      </div>
				      <div>
				  
				          <label for="input-two">Text field two:</label>
				          <input id="input-two" name="two" type="text" value="Example text field two" />
				      </div>
				      </fieldset>
				      <fieldset>
				      <legend>Text Areas</legend>
				      <div>
				          <label for="area-one">Text area one:</label>
				  
				      </div>
				      <div>
				          <textarea id="area-one" name="three" cols="30" rows="4">Example text area one</textarea>
				      </div>
				      <div>
				          <label for="area-two">Text area two:</label>
				      </div>
				      <div>
				  
				          <textarea id="area-two" name="four" cols="30" rows="4">Example text area two</textarea>
				      </div>
				      </fieldset>
				      <fieldset>
				      <legend>Selects</legend>
				      <div>
				          <label for="select-one">Select one:</label>
				  
				          <select id="select-one" name="five">
				              <option value="value 1">Week 1</option>
				              <option value="value 2">Week 2</option>
				              <option value="value 3">Week 3</option>
				          </select>
				      </div>
				      <div>
				  
				          <label for="select-two">Select two:</label>
				          <select id="select-two" name="six">
				              <option value="value 1">Week 1</option>
				              <option value="value 2">Week 2</option>
				              <option value="value 3">Week 3</option>
				          </select>
				      </div>
				  
				      </fieldset>
				      <fieldset>
				      <legend>Radio Buttons</legend>
				      <div>
				          <label for="radio-one">Option 1:</label>
				          <input type="radio" id="radio-one" name="group1" value="value 1" />
				          <label for="radio-two">Option 2:</label>
				  
				          <input type="radio" id="radio-two" name="group1" value="value 2" />
				          <label for="radio-three">Option 3:</label>
				          <input type="radio" id="radio-three" name="group1" value="value 3" />
				      </div>
				      </fieldset>
				      <fieldset>
				      <legend>Checkbox</legend>
				      <div>
				  
				          <label for="check-one">Option 1:</label>
				          <input type="checkbox" id="check-one" name="group2" value="value 1" />
				          <label for="check-two">Option 2:</label>
				          <input type="checkbox" id="check-two" name="group2" value="value 2" />
				          <label for="check-three">Option 3:</label>
				          <input type="checkbox" id="check-three" name="group2" value="value 3" />
				      </div>
				  
				      </fieldset>
				      <div><input type="submit" value="Submit" /></div>
				  </form>
				  <p>Lorem ipsum dolor sit amet</p>
				  <div>I am a div between paras <div>I am a div within a div!</div></div>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac luctus felis.
				      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				      Curae; Nullam aliquam dictum posuere. Pellentesque habitant morbi tristique senectus
				      et netus et malesuada fames ac turpis egestas. Maecenas a lectus massa. Sed non
				      diam nisl, a congue augue. Nunc in iaculis sem. Nulla ut turpis odio. Duis risus
				      nisl, suscipit nec mollis eu, rutrum ac sem. Ut pretium sodales placerat. Duis
				      id purus dui.</p>