        <div id="dropdownnav" role="navigation">
          <ul><!-- level one -->
            <li><a href="#"><span>Menu One</span></a></li>
            <li class="active"><a href="#"><span>Level Two</span></a><!-- class "active" for current page -->
              <ul><!-- level two -->
                <li><a href="#">Level Two</a></li>
                <li><a href="#">Level Two</a></li>
                <li><a href="#">Level Two</a></li>
                <li><a href="#"><span>Level Two</span></a>
                  <ul><!-- level three -->
                    <li><a href="#">Level Three</a></li>
                    <li><a href="#">Level Three</a></li>
                    <li><a href="#">Level Three</a></li>
                    <li><a href="#">Level Three</a></li>
                  </ul><!-- end level three -->
                </li>
              </ul><!-- end level two -->
            </li>
            <li><a href="#"><span>Menu Two</span></a></li>
            <li><a href="#"><span>Menu Three</span></a></li>
            <li><a href="#"><span>Menu Four</span></a></li>
            <li><a href="#"><span>Menu Five</span></a></li>
            <li><a href="#"><span>Menu Six</span></a></li>
            <li><a href="#"><span>Menu Seven</span></a></li>
          </ul><!-- end level one -->
        </div><!-- dropdownnav menu -->