    <div id="emergencyalert" class="clearfix">
      <img src="img/emergencyalertgraphic.png" width="90" height="81" alt="Emergency Alert">
      <!-- alert content -->
      <h1>Major Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula nibh vehicula elit feugiat eget mollis risus condimentum. 
      Sed tincidunt luctus turpis, id molestie justo lobortis eu. Vivamus sit amet congue nisl. Integer feugiat dolor sed massa porta lobortis.</p>
      <!-- end alert content -->
    </div><!-- emergencyalert -->