        <div id="fatfooterblock" role="navigation">
        
          <div class="fatfootercolumn"><!-- begin column -->
            <h3>Section Heading</h3><!-- column heading -->
            <ul>
              <li><a href="#">Link One</a></li>
              <li><a href="#">Link Two</a></li>
              <li><a href="#">Link Three</a></li>
              <li><a href="#">Link Four</a></li>
            </ul>
          </div><!-- fatfootercolumn -->
          
          <div class="fatfootercolumn">
            <h3>Section Heading</h3>
            <ul>
              <li><a href="#">Link One</a></li>
              <li><a href="#">Link Two</a></li>
              <li><a href="#">Link Three</a></li>
              <li><a href="#">Link Four</a></li>
            </ul>
          </div><!-- fatfootercolumn -->
          
          <div class="fatfootercolumn">
            <h3>Section Heading</h3>
            <ul>
              <li><a href="#">Link One</a></li>
              <li><a href="#">Link Two</a></li>
              <li><a href="#">Link Three</a></li>
              <li><a href="#">Link Four</a></li>
            </ul>
          </div><!-- fatfootercolumn -->
          
          <div class="fatfootercolumn">
            <h3>Section Heading</h3>
            <ul>
              <li><a href="#">Link One</a></li>
              <li><a href="#">Link Two</a></li>
              <li><a href="#">Link Three</a></li>
              <li><a href="#">Link Four</a></li>
            </ul>
          </div><!-- fatfootercolumn -->
          
        </div><!-- fatfooterblock -->