    <div id="infoalert" class="clearfix">
      <img src="img/infoalert.png" width="32" height="32" alt="Information Alert">
      <!-- info content -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula nibh vehicula elit feugiat eget mollis risus condimentum. 
      Sed tincidunt luctus turpis, id molestie justo lobortis eu. Vivamus sit amet congue nisl. Integer feugiat dolor sed massa porta lobortis.</p>
      <!-- end info content -->
    </div><!-- infoalert -->