      <div id="leftcolumn" role="navigation">
        <div id="asidenav">
          <nav class="deep-nav-menu">
            <ul><!-- level one -->
              <li><a href="#" class="active">Menu One</a><!-- class "active" for current page -->
                <ul><!-- level two -->
                  <li><a href="#">Level Two</a></li>
                  <li><a href="#">Level Two</a></li>
                  <li><a href="#">Level Two</a></li>
                  <li><a href="#" class="active">Level Two</a>
                    <ul><!-- level three -->
                      <li><a href="#" class="active">Level Three</a>
                        <ul><!-- level four -->
                          <li><a href="#">Level Four</a></li>
                          <li><a href="#" class="active">Level Four</a>
                            <ul><!-- level five -->
                              <li><a href="#" class="active">Level Five</a></li>
                              <li><a href="#">Level Five</a></li>
                            </ul><!-- end level five -->
                          </li>
                        </ul><!-- end level four -->
                      </li>
                      <li><a href="#">Level Three</a></li>
                      <li><a href="#">Level Three</a></li>
                      <li><a href="#">Level Three</a></li>
                    </ul><!-- end level three -->
                  </li>
                  <li><a href="#">Level Two</a></li>
                  <li><a href="#">Level Two</a></li>
                </ul><!-- end level two -->
              </li>
              <li><a href="#">Menu Two</a></li>
            </ul><!-- end level one -->
          </nav>
        </div><!-- asidenav -->
      </div><!-- leftcolumn -->