        <div id="megamenunav" role="navigation">
          <nav>
            <ul><!-- level one -->
              <li><a href="#"><span>Menu One</span></a></li>
              <li class="active"><a href="#"><span>Menu Two</span></a><!-- class "active" for current page -->
                <div class="megamenunavcontent">
                  <div class="megamenunavblock">
                    <div class="megamenunavcontentsection">
                      <div class="megamenunavcontentcolumn"><!-- supporting image -->
                        <img src="http://placehold.it/215x152" alt="Mega Menu Example Image" />
                      </div><!-- end supporting image -->
                      <div class="megamenunavcontentcolumn"><!-- supporting text -->
                        <h2>Mega Menu One Heading</h2>
                        <p>Lorem ipsum dolo sit amet, consectetur adipiscing elit. Vestibulum porta adipiscing ligula, non accumsan dolor aliquet a. 
                        Suspendisse eros augue, rutrum in tempor sed, egestas ut dui. Nullam felis quam, cursus interdum bibendum eget, porta nec lectus. 
                        </p>
                      </div><!-- end supporting text -->
                    </div>
                    <div class="megamenunavcontentsection">
                      <div class="megamenunavcontentcolumnlinks"><!-- link column -->
                        <ul>
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                          <li><a href="#">Menu Four</a></li>
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                          <li><a href="#">Menu Four</a></li>
                        </ul>
                      </div><!-- end link column -->
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><span>Menu Three</span></a></li>
              <li><a href="#"><span>Menu Four</span></a></li>
              <li><a href="#"><span>Menu Five</span></a></li>
              <li><a href="#"><span>Menu Six</span></a></li>
              <li><a href="#"><span>Menu Seven</span></a></li>
              <li><a href="#"><span>Menu Eight</span></a></li>
            </ul><!-- end level one -->
          </nav>
        </div><!-- megamenunav -->