<div class="faux-row alert-box info">
    <p>
        <strong>Information:</strong>
        <!-- info content -->
        Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing elit</a>. Proin <strong>vehicula</strong> nibh <em>vehicula</em> elit feugiat eget mollis risus condimentum. 
        <!-- end info content -->
    </p>
</div><!-- infoalert -->