article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display:block;
  zoom:1;
}
audio[controls], canvas, video {
  display:-moz-inline-stack;
  display:inline-block;
}
audio:not([controls] ) {
  display:none;
  height:0;
}
[hidden] {
  display:none;
}
.lt-ie8 {
  audio[controls], canvas, video, #mediaiconscontent a {
    *display:inline;
    *zoom:1;
  }
  .clearfix:before, .clearfix:after {
    *display:block;
  }
  input, select, textarea {
    *vertical-align:middle;
  }
  input[type="button"], input[type="reset"], input[type="submit"] {
    overflow:visible;
  }
  input[type="checkbox"], input[type="radio"] {
    *width:13px;
    *height:13px;
  }
  #footerlogoscontent img, #footersitelinkscontent small, #accessibilitycontainer, #mediaiconscontent span {
    *clip:rect(0 0 0 0);
  }
  #mediaiconscontent, #siteinformationnav ul li, #megamenunav li, #dropdownnav li, #asidenav li {
    *display:inline;
  }
  .clearfix {
    *zoom:1;
  }
  legend {
    *margin-left:-7px;
  }
  button {
    *vertical-align:middle;
    overflow:visible;
  }
  .visuallyhidden {
    *clip:rect(0 0 0 0);
    *clip:rect(0 0 0 0);
  }
  #siteinformationnav {
    *text-align:center;
    *display:inline;
    li a {
      *margin:0 -2px;
    }
  }
  #asidenav li a {
    *position:relative;
    *height:1%;
  }
  #slideshowmodule {
    *display:inline;
    *zoom:1;
  }
  #slideshownavigation h2 {
    *display:inline;
    *overflow:auto;
    *zoom:1;
  }
  #footerlogoscontent a span {
    *clip:rect(0 0 0 0);
  }
  #otherlinksfooterblock {
    *padding:0 0 10px;
  }
  #dropdownnav li a {
    line-height:normal;
  }
  @media only screen and (max-width: 767px) {
      #slideshownavigation ul.ui-tabs-nav,
      #slideshowcontent .ui-tabs-panel img {
          *clip: rect(0 0 0 0)
      }
      #slideshowmodule .ui-tabs-panel .articlecaptionoverlay {
          *overflow: auto;
          *zoom: 1
      }
  }
}
@media only screen and (min-width: 768px) {
    .lt-ie8 {
      #dropdownnav li span, #megamenunav li span {
        *display:block;
      }
      #megamenunav, #dropdownnav {
        *padding-bottom:5px;
      }
      #logocontainer {
        *text-align:left;
        *width:100%;
        *margin-top:22px;
        h1 {
          *width:68%;
          *display:block;
          *height:auto;
          em {
            *width:100%;
            *display:inline;
          }
        }
      }
      #megamenunav li a {
        -ms-filter:"none";
        filter:none;
      }
      #slideshowmodule {
        *display:inline;
        *zoom:1;
        .ui-tabs-panel .articlecaptionoverlay {
          *zoom:1;
        }
      }
      #slideshownavigation h2 {
        *padding:12px 12px;
        *height:46px;
        *overflow:auto;
        *width:100%;
      }
      #slideshownavigation li.ui-tabs-nav-item a {
        *height:44px;
      }
      #leftcolumn {
        *display:inline;
        *zoom:1;
      }
    }
}
@media only screen and (min-width: 1024px) {
    .lt-ie8 {
      #megamenunav, #dropdownnav {
        *padding-bottom:0;
      }
      #mediaiconscontent, #otherlinkscontent {
        *zoom:1;
        *display:inline;
      }
      #megamenunav .megamenunavcontent .megamenunavcontentcolumn {
        *width:233px;
      }
      #contentcolumn.twocolumn {
        width:auto;
      }
      #slideshownavigation h2 {
        *display:inline;
        *zoom:1;
        *width:220px;
      }
    }
}
@media print {
    .lt-ie8 * {
        -ms-filter: "none"!important;
        filter: none !important;
    }
}
.page-background {
    background: #143351 url('../img/large-screen-background.jpg') no-repeat center top;
    padding: 0 10px 10px;
}
@media only screen and (max-width: 767px) {
    .page-background {
        background: #004899 url('../img/small-screen-background.png') repeat-x left top;
    }
}
.clearfix:before {
  content:'';
  display:table;
}
.clearfix:after {
  content:'';
  display:table;
  clear:both;
}
p {
  margin-top:.786em;
}
pre, code {
  margin-top:.786em;
  font-family:consolas, courier new, courier, monospace;
}
sub {
  font-size:78.6%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
  bottom:-4px;
}
sup {
  font-size:78.6%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
  top:-8px;
}
b, strong {
  font-weight:bold;
}
.float-right {
  float:right;
}
.float-left {
  float:left;
}
.float-none {
  float:none;
}
.clear-right {
  clear:right;
}
.clear-left {
  clear:left;
}
.clear-both {
  clear:both;
}
.clear-none {
  clear:none;
}
.display-none {
  display:none;
}
.display-block {
  display:block;
}
.display-inline {
  display:inline;
}
.display-inlineblock {
  display:inline-block;
}
.screen-reader {
  position:absolute;
  top:-9999px;
  left:-9999px;
}
#dropdownnav {
  font-weight:bold;
  margin:0 auto 10px;
  padding:0;
  display:block;
  clear:both;
  ul {
    border-top:1px solid #4a4a4a;
    border-bottom:1px solid #4a4a4a;
    ul {
      border-top:0;
      border-bottom:0;
      padding:7px 0;
      background:#ffffff;
      @media only screen and (max-width: 767px) {
          display: none;
      }
    }
  }
  li {
    width:100%;
    display:table;
    margin:0;
    padding:0;
    a:hover, a:focus, a.active {
      color:#9bd5ee;
      background:#404040;
    }
    a {
      margin:0;
      width:100%;
      width:auto;
      padding:12px 10px;
      color:#ffffff;
      text-decoration:none;
      border-top:1px solid #1c1c1c;
      border-bottom:1px solid #4a4a4a;
      display:block;
      cursor:pointer;
      font-size:1em;
      line-height:1.214em;
      background:#2d2d2d;
    }
    li {
      a:hover, a:focus, a:active {
        background:transparent url('../img/navigationhorizontaltile.png') repeat-x bottom left;
      }
      a {
        color:#2d2d2d;
        background:transparent url('../img/navigationhorizontaltile.png') repeat-x bottom left;
        padding:10px 0;
        margin:0 10px;
        width:auto;
        font-size:1em;
        border:0;
        text-align:left;
      }
      li {
        background:transparent;
        a {
          padding:5px 15px;
          margin:0 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
    #dropdownnav {
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -ms-border-radius:6px;
      border-radius:6px;
      border:1px solid #4a4a4a;
      text-align:center;
      margin:0 0 15px;
      padding:0;
      width:100%;
      color:#efefef;
      float:left;
      li a:hover span, ul li:hover, li a:focus span, ul li.hover {
        color:#000000;
      }
      li ul li:hover a, li ul li:hover a:hover, li ul li.hover a, li ul li.hover a:hover, ul li ul li.hover a:focus {
        background:#404040 url('../img/navigationhorizontaltile.png') repeat-x bottom left;
        color:#9bd5ee;
      }
      li:hover a, li.hover a {
        color:#404040;
        background:#ffffff url('../img/navigationhorizontaltile.png') repeat-x bottom left;
      }
      ul li li:hover li ul, ul:hover li:hover li ul, ul li li.hover li ul, ul.focus li.hover li ul {
        top:-999em;
      }
      ul:hover li li:hover ul, ul li li li:hover ul, ul:hover li li.hover ul, ul li li li.hover ul {
        left:200px;
        top:0;
      }
      li:hover ul, li li:hover ul, li.hover ul {
        top:auto;
        z-index:200;
      }
      li:last-child li:hover ul, li:nth-last-child(2) li:hover ul {
        left:auto;
        right:0;
        top:auto;
        z-index:100;
        margin-left:-400px;
      }
      ul {
        padding:0;
        margin:5px 0 0 10px;
        border-top:0;
        border-bottom:0;
        background:0;
        display:block;
        li:hover ul, li.hover ul {
          left:0;
          right:auto;
          padding:0 0 10px;
        }
        ul {
          -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.4);
          -ms-box-shadow:0 0 4px 0 rgba(0,0,0,0.4);
          box-shadow:0 0 4px 0 rgba(0,0,0,0.4);
          -moz-border-radius:0 6px 6px 6px;
          -webkit-border-radius:0 6px 6px 6px;
          -ms-border-radius:0 6px 6px 6px;
          border-radius:0 6px 6px 6px;
          position:absolute;
          top:-999em;
          width:200px;
          margin:0;
          background:#ffffff url('../img/navigationhorizontaltile.png') repeat-x left top;
          padding:0;
          li {
            width:100%;
          }
          ul {
            -moz-border-radius:0 6px 6px 6px;
            -webkit-border-radius:0 6px 6px 6px;
            -ms-border-radius:0 6px 6px 6px;
            border-radius:0 6px 6px 6px;
            background:#efefef;
            padding:0 0 10px;
            display:inherit;
          }
        }
        li {
          float:left;
          position:relative;
          margin-left:0;
          padding-left:0;
          ul li.hover a span {
            color:#9bd5ee;
          }
        }
        li:hover ul li:hover span {
          color:#9bd5ee;
        }
        li.hover ul ul {
          top:-999em;
        }
        li.hover ul li.hover > ul {
          top:0;
          left:200px;
        }
      }
      li {
        border-left:1px solid #4a4a4a;
        border-right:1px solid #1c1c1c;
        border-top:1px solid #4a4a4a;
        border-bottom:1px solid #1c1c1c;
        margin:0 5px 5px 0;
        width:auto;
        float:left;
        position:relative;
        a:hover, a:focus {
          color:#404040;
          background:#ffffff;
        }
        ul {
          display:block;
          position:absolute;
          li:hover li a, li.hover li a {
            background:#efefef url('../img/navigationhorizontaltile.png') repeat-x bottom left;
            color:#404040;
          }
          li a {
            color:#404040;
          }
        }
        a {
          line-height:1em;
          font-weight:bold;
          padding:0;
          border-top:0;
          border-bottom:0;
          color:inherit;
          font-size:inherit;
        }
        li {
          margin:0;
          border-top:0;
          border-bottom:0;
          border-left:none;
          border-right:0;
          text-align:left;
          a {
            padding:10px 10px;
            background:#ffffff url('../img/navigationhorizontaltile.png') repeat-x bottom left;
            font-size:inherit;
            margin:0;
            width:auto;
            text-align:left;
            border:0;
          }
          li a {
            background:#ffffff;
            padding:10px 10px;
            margin:0;
          }
          span {
            margin:0;
            padding:0 7px 0 0;
            max-width:100%;
            width:188px;
            height:auto;
          }
          ul {
            position:absolute;
          }
        }
        span {
          display:table-cell;
          vertical-align:middle;
          max-width:118px;
          height:55px;
          width:112px;
          padding:0 10px;
          word-wrap:break-word;
        }
      }
      a {
        text-decoration:none;
        margin:0;
        color:#ffffff;
      }
      li.active a {
        color:#9bd5ee;
        background:#404040;
      }
    }
}
@media only screen and (min-width: 1024px) {
    #dropdownnav li {
  border-top:0;
  border-bottom:0;
  margin:0;
  span {
    width:auto;
    padding:0 10px;
    height:52px;
  }
}
#dropdownnav ul {
  padding:0;
  margin:0 0 0 10px;
}
}
@media only screen and (min-width: 768px) {
    #dropdownnav, #megamenunav, #siteinformationnav, #megamenunav li, #dropdownnav li a {
      background:#2e2e2e;
      background:-moz-linear-gradient(top,#404040 0,#1c1c1c 100%);
      background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#404040),color-stop(100%,#1c1c1c));
      background:-webkit-linear-gradient(top,#404040 0,#1c1c1c 100%);
      background:-o-linear-gradient(top,#404040 0,#1c1c1c 100%);
      background:-ms-linear-gradient(top,#404040 0,#1c1c1c 100%);
      background:linear-gradient(top,#404040 0,#1c1c1c 100%);
    }
    .mainnav ul li {
      position:relative;
      float:left;
      margin-left:0;
      padding-left:0;
    }
    .megamenunavcontentcolumn > img {
      width:100%;
    }
    #asidenav {
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -ms-border-radius:6px;
      border-radius:6px;
      width:229px;
      float:left;
      background:#2d2d2d;
      padding:.7em 0;
      border:1px solid #4a4a4a;
    }
}
#asidenav {
  margin-bottom:15px;
}
#megamenunav {
  font-weight:bold;
  margin:0 auto 10px;
  padding:0;
  display:block;
  clear:both;
  li a:hover, li a:focus, li.active a {
    color:#9bd5ee;
    background:#404040;
  }
  ul {
    border-top:1px solid #4a4a4a;
    border-bottom:1px solid #4a4a4a;
  }
  li {
    width:100%;
    display:table;
    margin:0;
    padding:0;
    a {
      background:#2d2d2d;
      margin:0;
      padding:12px 10px;
      color:#ffffff;
      text-decoration:none;
      border-top:1px solid #1c1c1c;
      border-bottom:1px solid #4a4a4a;
      width:auto;
      display:block;
      cursor:pointer;
      font-size:1em;
      line-height:1.214em;
    }
  }
}
@media screen and (max-width: 767px) {
    #megamenunav .megamenunavcontent {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .megamenunavcontent {
        -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.4);
        -ms-box-shadow:0 0 4px 0 rgba(0,0,0,0.4);
        box-shadow:0 0 4px 0 rgba(0,0,0,0.4);
    }
    #megamenunav {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -ms-border-radius:6px;
  border-radius:6px;
  border:1px solid #4a4a4a;
  text-align:center;
  margin:0 0 15px 0;
  padding:0;
  width:100%;
  color:#efefef;
  float:left;
  
  li:hover, li.hover {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    border-radius:6px;
  }
  li:hover a span, li.hover a span {
    color:#1c1c1c;
    background:#ffffff;
  }
  li:hover span, li.hover span {
    color:#ffffff;
  }
  li:hover .megamenunavcontent, li.hover .megamenunavcontent {
    left:0;
    right:auto;
    top:61px;
  }
  ul {
    border-top:0;
    border-bottom:0;
    padding:0;
    margin:5px 0 0 5px;
    li:hover a, li.hover a {
      color:#404040;
    }
  }
  li {
    text-align:center;
    float:left;
    display:block;
    width:auto;
    list-style:none;
    border-left:1px solid #4a4a4a;
    border-right:1px solid #1c1c1c;
    border-top:1px solid #4a4a4a;
    border-bottom:1px solid #1c1c1c;
    margin:0 5px 5px 0;
    li {
      margin:0;
      border-top:0;
      border-bottom:0;
      border-left:none;
      border-right:0;
    }
    a {
      float:left;
      display:block;
      color:#ffffff;
      text-decoration:none;
      margin:0;
      padding:0;
      font-weight:bold;
      border-top:0;
      border-bottom:0;
      width:auto;
      font-size:inherit;
    }
    span {
      display:table-cell;
      vertical-align:middle;
      height:55px;
      max-width:118px;
      width:166px;
    }
    a:hover {
      color:#1c1c1c;
    }
    .megamenunavcontent {
      position:absolute;
      top:-999em;
      left:0;
    }
  }
  li:hover a {
    border:0;
    height:auto;
    color:#1c1c1c;
    background:#ffffff;
    margin:0;
  }
  .megamenunavcontent {
    -moz-border-radius:0 0 6px 6px;
    -webkit-border-radius:0 0 6px 6px;
    -ms-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px;
    padding:15px 0;
    margin:0;
    width:100%;
    display:block;
    position:relative;
    z-index:280;
    text-align:left;
    height:auto;
    border-top:1px solid #1c1c1c;
    border-right:1px solid #4a4a4a;
    border-bottom:1px solid #4a4a4a;
    border-left:1px solid #4a4a4a;
    background:#ffffff;
    li:hover, li.hover {
      -moz-border-radius:0;
      -webkit-border-radius:0;
      -ms-border-radius:0;
      border-radius:0;
      height:auto;
      border:0 solid transparent;
      background:transparent;
    }
    li:hover span, li.hover span {
      margin:0;
      height:auto;
    }
    h2 {
      &, a {
        color:#004899;
        margin:0 0 .5em;
      }
    }
    p {
      &, a {
        color:#1c1c1c;
        margin:.5em 0 0;
        font-weight:normal;
        font-size:.929em;
        line-height:1.286em;
      }
    }
    .megamenunavcontentsection {
      width:50%;
      float:left;
      clear:right;
      padding:0;
      margin:0;
      display:block;
    }
    .megamenunavcontentcolumn {
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
      width:50%;
      float:left;
      clear:right;
      margin:0;
      padding:0 10px 15px 0;
    }
    ul {
      width:auto;
      border-right:0;
      border-left:none;
      padding:0;
      margin:0;
      background:transparent url('../img/navigationhorizontaltile.png') repeat-x left top;
      display:block;
    }
    li {
      width:48.5%;
      display:block;
      padding:0;
      margin:0 4px 0 0;
      overflow:hidden;
      a:hover, a:focus, a:active {
        background:#e5e5df url('../img/navigationhorizontaltile.png') repeat-x bottom left;
        margin:0;
        height:auto;
      }
      a {
        -moz-border-radius:0;
        -webkit-border-radius:0;
        -ms-border-radius:0;
        border-radius:0;
        width:100%;
        height:auto;
        background:#ffffff url('../img/navigationhorizontaltile.png') repeat-x left bottom;
        text-align:left;
        color:#1c1c1c;
        padding:12px 3px;
        margin:auto;
        border:0;
      }
    }
  }
  .megamenunavblock {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:15px 0 0 15px;
    text-transform:none;
    width:100%;
    clear:both;
    float:left;
  }
}
}
@media only screen and (min-width: 1024px) {
    #megamenunav {
  li:hover .megamenunavcontent, li.hover .megamenunavcontent {
    top:52px;
  }
  li {
    border-top:0;
    border-bottom:0;
    margin:0;
    span {
      width:auto;
      padding:0 10px;
      height:52px;
    }
    a {
      background:0;
    }
  }
  ul {
    padding:0;
    margin:0 0 0 10px;
  }
  .megamenunavcontent .megamenunavcontentcolumn {
    width:46.9%;
  }
  .megamenunavcontent .megamenunavcontentcolumn:last-child {
    margin:0 0 15px 0;
  }
}
}
#siteinformationnav {
  background:#2e2e2e;
  background:-moz-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#404040),color-stop(100%,#1c1c1c));
  background:-webkit-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:-o-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:-ms-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:linear-gradient(top,#404040 0,#1c1c1c 100%);
  border-bottom:1px solid #4a4a4a;
  display:table;
  margin-bottom:15px;
  margin:0 auto 15px;
  width:100%;
  ul {
    list-style:none;
    margin:0;
    padding:0;
    display:table-row;
    white-space:nowrap;
    clear:left;
    li {
      display:table-cell;
      padding:0;
      margin:0;
    }
  }
  li {
    a:hover, a:focus, a:active {
      background-color:#404040;
      color:#9bd5ee;
    }
    a {
      text-align:center;
      white-space:nowrap;
      display:block;
      overflow:hidden;
      color:#ffffff;
      font-weight:bold;
      padding:3px 10px;
      width:auto;
      min-height:0;
      text-decoration:none;
      border-right:1px solid #1c1c1c;
      border-left:1px solid #4a4a4a;
    }
  }
  
  @media only screen and (min-width: 768px) {
    -moz-border-radius:0 0 6px 6px;
    -webkit-border-radius:0 0 6px 6px;
    -ms-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px;
    float:right;
    clear:both;
    width:auto;
    display:block;
    position:relative;
    overflow:hidden;
    padding:0;
    margin:0;
    border-left:1px solid #4a4a4a;
    border-right:1px solid #4a4a4a;
    li:first-child, li.infofirstchildborder {
      border-left:none;
    }
    li:last-child, li.infolastchildborder {
      border-right:0;
    }
    ul {
      width:auto;
      float:left;
      margin:0;
      padding:6px 0;
      overflow:hidden;
    }
    li {
      float:left;
      list-style:none;
      padding:0 15px;
      margin:0;
      line-height:1.357em;
      display:block;
      border-right:1px solid #1c1c1c;
      border-left:1px solid #4a4a4a;
      a:hover, a:focus, a:active {
        text-decoration:underline;
        background-color:transparent;
        color:#efefef;
      }
      a {
        text-align:left;
        color:#efefef;
        border-right:#ffffff;
        border-left:none;
        text-decoration:none;
        display:block;
      }
    }
  }
}
#breadcrumbs {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -ms-border-radius:6px;
  border-radius:6px;
  overflow:hidden;
  margin-bottom:15px;
  position:relative;
  display:block;
  background-color:rgba(0,0,0,0.3);
  font-size:.875em;
  padding:3px;
  a:hover, a:focus, a:active, a.home:hover, a.home:hover, a.home:active {
    text-decoration:none;
  }
  span {
    color:#ffffff;
    padding:3px 2px 3px 13px;
  }
  li {
    display:inline;
  }
  a {
    color:#ffffff;
    margin:0;
    padding:3px 2px 3px 13px;
    line-height:1em;
    display:inline;
    overflow:hidden;
    text-decoration:underline;
  }
  a.home {
    padding:4px 3px 4px 25px;
  }
  a.home:before {
    content:'';
  }
}
#contentcolumn .section {
  background:#ffffff url('../img/contentsectionbackground.png') repeat-x left top;
  padding:7px 15px;
  margin:0 0 10px;
  clear:left;
  border:1px solid #143351;
  h1 {
    padding-bottom:10px;
    border-bottom:1px dotted #004899;
  }
}
#emergencyalert {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0 auto 10px;
  padding:0 0 18px 0;
  border:6px solid #b20000;
  background:#e5f61d url('../img/emergencyalertbackground.png') repeat-x left top;
  h1 {
    margin:24px 30px 10px;
    position:relative;
    display:block;
    color:#b20000;
  }
  p {
    margin:10px 30px 0;
    font-weight:bold;
    color:#1c1c1c;
    position:relative;
    display:block;
  }
  a {
    color:#b20000;
  }
  @media only screen and (min-width: 768px) {
      -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-shadow:inset 0 0 28px 0 rgba(0,0,0,0.6);
  -ms-box-shadow:inset 0 0 28px 0 rgba(0,0,0,0.6);
  box-shadow:inset 0 0 28px 0 rgba(0,0,0,0.6);
  margin:0 auto 15px;
  padding:0 0 18px 0;
  border:6px solid #b20000;
  background:#e5f61d url('../img/emergencyalertbackground.png') repeat-x left top;
  img {
    top:22px;
    left:26px;
    position:absolute;
  }
  h1 {
    margin:24px 30px 10px 140px;
    position:relative;
    display:block;
    color:#b20000;
  }
  p {
    margin:.5em 30px 0 140px;
    font-weight:bold;
    color:#1c1c1c;
    position:relative;
    display:block;
  }
  a {
    color:#b20000;
  }
  }
}
#infoalert {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0 auto 10px;
  padding:10px;
  clear:right;
  position:relative;
  display:block;
  overflow:hidden;
  border:3px solid #000055;
  border-radius:6px;
  background:#eeeeff;
  width:1008px;
  h1 {
    margin-top:5px;
  }
  p {
    margin:5px 20px 0;
    font-weight:normal;
    color:#1b1b1b;
    position:relative;
    display:block;
  }
  img {
    margin-right:10px;
    float:left;
  }
  
  @media only screen and (min-width: 768px) {
      width: 100%;
  }
  
  @media only screen and (min-width: 1024px) {
      width: 1008px;
  }
  @media only screen and (max-width: 767px) {
      width: 100%;
      
      p {
          margin: 0
      }
      img {
          display: none
      }
  }
}

#footersitelinkscontent {
  &, a {
    color:#82d6f4;
  }
  li {
    display:inline;
  }
}
#footerlogoscontent {
  text-align:center;
  color:#ffffff;
  a:hover span, a:focus span {
    text-decoration:underline;
  }
  a {
    text-align:center;
    color:#ffffff;
    color:#ffffff;
    text-decoration:none;
    display:inline-block;
    span {
      margin:0 15px 0 0;
    }
  }
  li {
    display:inline;
  }
}

@media only screen and (max-width: 767px) {
    #fatfooterblock {
        display: none
    }
}
@media only screen and (min-width: 768px) {
    #fatfooterblock {
        padding: 0 0 10px 15px
    }
}
@media only screen and (min-width: 768px) {
    .fatfootercolumn {
      float:left;
      margin-top:10px;
      width:49%;
      color:#ffffff;
      a:hover, a:focus, a:active {
        text-decoration:underline;
      }
      h3 {
        color:#82d6f4;
        padding:8px 0 10px;
        margin:0;
        font-size:1.214em;
        border-bottom:1px solid #1c1c1c;
        display:block;
      }
      ul {
        border-top:1px solid #4a4a4a;
        padding-top:10px;
        margin:0 0 10px 0;
        padding-right:15px;
      }
      li {
        line-height:1.143em;
        padding-bottom:4px;
        list-style:none;
        a {
          width:auto;
          display:block;
          font-size:1em;
          text-decoration:none;
          color:#ffffff;
        }
      }
    }
}
@media only screen and (min-width: 1024px) {
    .fatfootercolumn {
      width:233px;
      margin-right:15px;
      ul {
        padding-right:0;
      }
    }
    #footersitelinksblock {
      padding:10px 15px 10px 7px;
      overflow:hidden;
    }
    #footersitelinkscontent {
      text-align:left;
      float:left;
      display:inline-block;
      margin:0;
      a {
        margin:0 .2em;
      }
    }
    #footerlogoscontent {
      text-align:right;
      margin-right:16px;
    }
}
.visuallyhidden, #footerlogoscontent img, #accessibilitycontainer, #mediaiconscontent span {
  border:0;
  clip:rect(0,0,0,0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}
#emergencyalert, #leftcolumn .section {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  clear:right;
  position:relative;
  display:block;
  overflow:hidden;
  margin-bottom:10px;
}
#leftcolumn, #rightcolumn, #contentcolumn .section #rightcolumn .section {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  clear:right;
  position:relative;
  display:block;
  overflow:hidden;
}
#contentcolumn {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  clear:right;
  clear:none;
  position:relative;
  display:block;
  overflow:hidden;
}
#contentcolumn .section, #rightcolumn .section {
  margin-bottom:10px;
}
#footercontainer {
  background:#2e2e2e;
  background:-moz-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#404040),color-stop(100%,#1c1c1c));
  background:-webkit-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:-o-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:-ms-linear-gradient(top,#404040 0,#1c1c1c 100%);
  background:linear-gradient(top,#404040 0,#1c1c1c 100%);
  border-top:1px solid #4a4a4a;
  border-bottom:1px solid #4a4a4a;
  margin:0 -10px;
}
#headercontainer {
  margin:0 -10px;
}
#otherlinksfooterblock {
  background:#000000;
  color:#d3d3d3;
  padding:0;
  margin:0;
  width:auto;
  display:block;
  overflow:hidden;
  border-bottom:solid 1px #4a4a4a;
  text-align:center;
  clear:both;
}
.social-media-icons-list {
  list-style-type:none;
  li {
    display:inline;
  }
}
.page-updated {
  color:#efefef;
  display:block;
  text-align:center;
  font-size:.85em;
    @media only screen and (min-width: 1024px) {
        margin: 0 .3em;
        text-align: left;
        clear: left;
        float: left;

    }
}
.footer-logo {
    margin: 0 .5em;
}
@media only screen and (min-width: 768px) {
    #navcontainer {
      max-width:100%;
      z-index:400;
      clear:right;
      position:relative;
      display:block;
    }
    #leftcolumn {
      clear:right;
      float:left;
      margin-right:15px;
    }
    #emergencyalert {
      -moz-border-radius:6px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -webkit-border-radius:6px;
      -ms-border-radius:6px;
      -ms-border-radius:6px;
      border-radius:6px;
      border-radius:6px;
      position:relative;
      display:block;
      width:100%;
      img {
        display:inherit;
        clip:auto;
        height:auto;
        margin:0;
        overflow:visible;
        width:auto;
      }
    }
    #fatfooterblock {
      display:inherit;
      display:block;
      position:relative;
      width:100%;
      width:auto;
      clip:auto;
      height:auto;
      margin:0;
      overflow:visible;
    }
    #contentcolumn .section {
      -moz-border-radius:6px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -webkit-border-radius:6px;
      -ms-border-radius:6px;
      -ms-border-radius:6px;
      border-radius:6px;
      border-radius:6px;
      margin-bottom:15px;
    }
    #rightcolumn .section, #asidenav {
      -moz-border-radius:6px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -webkit-border-radius:6px;
      -ms-border-radius:6px;
      -ms-border-radius:6px;
      border-radius:6px;
      border-radius:6px;
    }
    #footercontainer {
      -moz-border-radius:6px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -webkit-border-radius:6px;
      -ms-border-radius:6px;
      -ms-border-radius:6px;
      border-radius:6px;
      border-radius:6px;
      position:relative;
      position:relative;
      display:block;
      display:block;
      width:100%;
      margin:0 auto;
      border:1px solid #4a4a4a;
    }
    #megamenunav, #dropdownnav, .megamenunavcontent {
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      -ms-border-radius:6px;
      border-radius:6px;
    }
    #rightcolumn {
      margin-bottom:5px;
      img {
        margin:0 0 10px;
        margin:0 0 20px 15px;
        overflow:hidden;
        overflow:hidden;
      }
    }
    .visuallyhidden, #footerlogoscontent a span {
      border:0;
      clip:rect(0,0,0,0);
      height:1px;
      margin:-1px;
      overflow:hidden;
      padding:0;
      position:absolute;
      width:1px;
    }
    #accessibilitycontainer {
      clip:auto;
      height:auto;
      margin:inherit;
      margin:0 -10px;
      overflow:visible;
      overflow:hidden;
      padding:inherit;
      padding:0;
      position:relative;
      position:fixed;
      width:auto;
      width:100%;
      -webkit-box-shadow:0 0 4px 2px rgba(9,9,9,0.4);
      -ms-box-shadow:0 0 4px 2px rgba(9,9,9,0.4);
      box-shadow:0 0 4px 2px rgba(9,9,9,0.4);
      font-size:1.143em;
      list-style-type:none;
      background-color:rgba(0,0,0,0.6);
      color:#ffffff;
      z-index:800;
      clear:both;
      ul {
        margin:0;
        padding:0;
        list-style-type:none;
        li a:focus {
          position:static;
          width:auto;
          height:auto;
        }
      }
      li a {
        padding:8px 15px 8px;
      }
      a {
        text-decoration:none;
        font-weight:bold;
        display:block;
        float:left;
        background-color:#ffffff;
        color:#143351;
        margin:6px 6px 6px 0;
        position:absolute;
        left:0;
        top:-500px;
        width:1px;
        height:1px;
        overflow:hidden;
      }
      a:hover {
        text-decoration:underline;
        background:#82d6f4;
      }
    }
    #headercontainer {
      position:relative;
      display:block;
      width:100%;
      margin:0;
      padding:0 0 26px 0;
    }
    #contentcontainer {
      position:relative;
      display:block;
      width:100%;
      margin:0 auto;
    }
    #emergencyalert img, #footerlogoscontent img {
      clip:auto;
      height:auto;
      margin:0;
      overflow:visible;
      width:auto;
    }
    .addthis_toolbox {
      margin-top:15px;
      float:right;
    }
    #footersitelinksblock, #otherlinksfooterblock {
      width:100%;
    }
}
@media only screen and (min-width: 1024px) {
    #navcontainer {
  width:1008px;
  z-index:400;
  margin:0 auto;
}
#rightcolumn {
  width:229px;
  float:right;
  img {
    margin:0 0 20px 0;
  }
}
#headercontainer {
  width:1008px;
  margin:0 auto;
}
#contentcontainer {
  width:1008px;
  overflow:hidden;
}
#footercontainer, #fatfooterblock, #dropdownnav, #megamenunav, #emergencyalert {
  width:1008px;
}
#leftcolumn {
  float:left;
  display:block;
  position:relative;
  clear:left;
}
#contentcolumn.twocolumn {
  width:762px;
  float:left;
}
#contentcolumn.threecolumn {
  width:519px;
  overflow:auto;
  float:left;
}
#otherlinksfooterblock {
  width:1008px;
  padding:15px 0;
}
}
#otherlinkscontent {
  color:#ffffff;
  text-align:center;
  a {
    color:#ffffff;
    padding:0;
    font-weight:bold;
    text-decoration:none;
    position:relative;
    display:inline;
  }
  img {
    position:relative;
    text-align:center;
    margin:6px auto 0;
    padding:0;
    display:block;
  }
  @media only screen and (max-width: 767px) {
      a.hideimage span {
          display: inline;
          position: relative
      }
      a.hideimage img {
          display: none
      }
  }
  @media only screen and (min-width: 1024px) {
      display: inline-block;
      vertical-align: middle;
      height: auto;
      overflow: hidden;
      clear: right;
      text-align: left;
      width: 717px;
      color: #fff;
      float: left;

      a {
          margin: 7px;
          color: #fff
      }
      img {
          float: right;
          margin: 0 0 0 15px
      }
  }
}
#footersitelinkscontent {
  text-align:center;
  a {
    padding:0;
    font-weight:bold;
    text-decoration:none;
    position:relative;
    display:inline;
  }
}
#otherlinkscontent a:hover, #otherlinkscontent a:focus, #otherlinkscontent a:active, #footersitelinkscontent a:hover, #otherlinkscontent a:focus, #otherlinkscontent a:active {
  text-decoration:underline;
}
#footersitelinkscontent:after {
  content:"\A";
}
#logocontainer {
  margin:0 auto;
  text-align:center;
  padding:0 0 0 15px;
  img {
    margin:0 15px 8px 0;
  }
  img.printlogo {
    display:none;
  }
  h1 {
    display:block;
    font-size:1.25em;
    color:#ffffff;
    em {
      font-style:normal;
    }
  }
}
@media only screen and (min-width: 768px) {
    #logocontainer {
  width:74%;
  margin:0 231px 0 0;
  padding:0;
  float:left;
  display:block;
  clear:both;
  img {
    display:block;
    float:left;
    height:81px;
  }
  h1 {
    -ms-text-shadow:0 0 6px #000000;
    -webkit-text-shadow:0 0 6px #000000;
    text-shadow:0 0 6px #000000;
    text-align:left;
    font-size:1.571em;
    line-height:1.357em;
    max-width:60%;
    width:auto;
    margin:14px 35px 0 15px;
    padding-left:15px;
    display:table;
    vertical-align:inherit;
    height:60px;
    overflow:hidden;
    em {
      display:table-cell;
      vertical-align:middle;
    }
  }
}
}
@media only screen and (min-width: 1024px) {
    #logocontainer h1 {
        text-align: left;
        margin-bottom: 15px
    }
}
#mediaiconscontent {
  text-align:center;
  overflow:hidden;
  margin:0 auto;
  a {
    width:28px;
    height:28px;
    display:inline-block;
    margin:5px 5px 0 0;
    color:#d3d3d3;
  }
  h4 {
    padding:15px 0 5px;
    margin:0;
    font-size:1.25em;
    color:#d3d3d3;
  }
  img {
    margin:5px 5px;
  }
}
@media only screen and (min-width: 1024px) {
    #mediaiconscontent {
      display:-moz-inline-stack;
      display:inline-block;
      vertical-align:middle;
      height:auto;
      overflow:hidden;
      clear:right;
      text-align:left;
      background:url('../img/otherlinksverticaltile.png') repeat-y top right;
      float:left;
      margin:0 5px 0 0;
      padding:0 15px;
      width:233px;
      h4 {
        padding:0;
        font-size:1.214em;
        display:block;
      }
      img {
        margin:7px 7px 0 0;
      }
    }
}
#rightcolumn .section {
  background:#e5e5df;
  border:1px solid #143351;
  padding:15px;
  h2 {
    color:#000000;
  }
}
#sitesearch {
  margin:10px 10px;
  padding:0;
  border:0;
  display:block;
  overflow:hidden;
  position:relative;
  color:#ffffff;
  input.button:hover, input.button:focus, input.button:active {
    background-position:0 -30px;
  }
  input {
    vertical-align:top;
  }
  input.text {
    -moz-border-radius:6px 0 0 6px;
    -webkit-border-radius:6px 0 0 6px;
    -ms-border-radius:6px 0 0 6px;
    border-radius:6px 0 0 6px;
    border:1px solid #4a4a4a;
    padding:7px 8px 6px;
    margin:0 40px 0 0;
    font-weight:bold;
    color:#1c1c1c;
    line-height:1em;
    height:15px;
    outline:0;
    width:92%;
    left:0;
    right:0;
    position:relative;
  }
  input.button {
    height:30px;
    width:40px;
    position:absolute;
    outline:0;
    right:0;
    top:0;
    color:transparent;
    cursor:pointer;
    text-indent:-9999px;
    line-height:0;
    border:0;
  }
}
@media only screen and (min-width: 768px) {
    #sitesearch {
        width: 231px;
        float: right;
        height: 30px;
        display: block;
        margin: 24px 0 0 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 46px
    }
    #sitesearch input.text {
        -moz-border-radius: 6px 0 0 6px;
        -webkit-border-radius: 6px 0 0 6px;
        -ms-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px;
        border: 1px solid #4a4a4a;
        background: #fff;
        width: 173px;
        padding: 7px 8px 6px;
        margin: 0;
        float: left;
        color: #1c1c1c;
        line-height: 1em;
        outline: 0;
        position: relative;
        left: inherit;
        right: inherit
    }
    #sitesearch input:hover {
        color: #004899
    }
}
label {
    font-weight: bold
}
fieldset {
    padding: 0 20px 20px;
    margin: 0 0 20px 0;
    border: 1px solid #ccc
}
legend {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.143em;
    margin-bottom: 5px
}
fieldset {
    padding-top: 1.429em
}
select {
    background-color: #fff;
    border-width: 1px;
    border-style: solid
}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input.text,
input.title,
textarea,
select {
    margin: .5em 0
}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input.text,
input.title,
textarea {
    background-color: #fff;
    border: 1px solid #000;
    color: #000
}
input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
    border-color: #000
}
input.text,
input.title {
    width: 300px;
    padding: 5px
}
input.title {
    font-size: 1.5em
}
form.inline {
    line-height: 3px
}
form.inline p {
    margin-bottom: 0
}
form {
    margin: 0
}
fieldset {
    border: 0 solid #000;
    margin: 0;
    padding: 0
}
label {
    cursor: pointer
}
legend {
    border: 0;
    padding: 0;
    white-space: normal
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}
button,
input {
    line-height: normal
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button
}
button[disabled],
input[disabled] {
    cursor: default
}
input[type='submit']::-moz-focus-inner {
    border: 0
}
input[type='checkbox'],
input[type='radio'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
input[type='search'] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    padding: .3em;
    overflow: auto;
    vertical-align: top;
    -moz-resize: vertical;
    -ms-resize: vertical;
    -o-resize: vertical;
    resize: vertical
}
#search-queryform {
    padding: 10px 0 0 0;
    font-size: 1.25em
}
#query {
    padding: .25em;
    max-width: 48em;
    min-width: 40%
}
#search-queryform .button {
    padding: 5px 10px
}
#search-spelling {
    font-weight: bold;
    font-size: 1.25em;
    padding: 8px
}
#search-spelling .funnelback-highlight {
    font-style: italic
}
p.search-explore {
    text-align: right
}
p.search-explore a:link {
    text-decoration: none
}
p.search-explore a:hover {
    text-decoration: underline
}
.facet {
    margin-bottom: 1em;
    font-weight: bold
}
.facetLabel {
    text-transform: uppercase;
    font-size: .85em;
    font-weight: bold;
    color: #767676;
    margin-bottom: .25em;
    border-bottom: 1px solid #ccc
}
.search-facet-count {
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    -ms-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    background: #767676;
    line-height: 14px;
    vertical-align: baseline;
    padding: 0 9px 0 9px;
    font-size: .9em;
    font-weight: normal;
    white-space: nowrap
}
.facet a {
    font-weight: normal
}
.facet a:link {
    text-decoration: none
}
.facet a:hover {
    text-decoration: underline
}
.facet .category {
    margin-bottom: .5em;
    line-height: 1.25em
}
#search-matching {
    padding: 6px;
    margin: 10px 0;
    font-size: .85em;
    background: #efefef;
    color: #3b3b3b
}
#search-contextual-navigation {
    margin-left: 8%
}
#search-contextual-navigation h2 {
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: .5em
}
#search-contextual-navigation a:link {
    text-decoration: none
}
#search-contextual-navigation a:hover {
    text-decoration: underline
}
#search-contextual-navigation ul {
    margin: 0;
    padding: 0
}
#search-contextual-navigation ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 46%;
    display: inline-block;
    margin-right: 3%;
    line-height: 1.5em
}
#search-results {
    margin: 0;
    padding: 0;
    max-width: 44em
}
#search-results li {
    list-style-type: none;
    margin-bottom: .5em;
    padding: 8px
}
#search-results li.search-best-bet {
    background: #fff7d3
}
#search-results li h3 {
    font-weight: normal;
    font-size: 1.25em;
    margin: 0;
    padding: 0
}
#search-results li p {
    margin: 0;
    padding: 0
}
#search-results li .search-file-format,
#search-results li .search-meta,
#search-results li .search-date {
    color: #767676
}
#search-results li cite {
    color: #388222;
    font-style: normal;
    overflow: hidden
}
.search-result-thumbnail-wrapper {
    float: left;
    margin: 4px 4px 4px 0;
    min-height: 80px;
    min-width: 80px
}
a.search-cached:link {
    text-decoration: none
}
a.search-cached:hover {
    text-decoration: underline
}
.search-pagination {
    margin: 40px 20px;
    float: none;
    clear: both;
    text-align: center
}
.search-pagination ul {
    margin: 0;
    padding: 0
}
.search-pagination ul li {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0 5px;
    margin: 2px
}
.search-pagination ul li a {
    padding: 10px;
    display: inline-block
}
.search-pagination ul li a:link {
    text-decoration: none
}
.search-pagination ul li a:hover {
    text-decoration: underline
}
.search-pagination ul li.active {
    background: #d3d3d3
}
.search-pagination ul li.active a {
    text-decoration: none
}
ul.ui-autocomplete {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    background: white;
    text-align: left;
    border: solid 1px #767676;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 25em
}
ul.ui-autocomplete h2 {
    font-size: small;
    background-color: #efefef;
    padding: 5px
}
ul.ui-autocomplete li.ui-menu-item {
    padding: 0;
    margin: 0
}
ul.ui-autocomplete li.ui-menu-item a {
    display: block;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    color: #3b3b3b
}
ul.ui-autocomplete li.ui-menu-item a.description,
ul.ui-autocomplete li.ui-menu-item a.url {
    padding-top: 0
}
ul.ui-autocomplete li.ui-menu-item span {
    display: block;
    font-size: small;
    padding-left: 10px
}
ul.ui-autocomplete li.ui-menu-item a.ui-state-hover,
ul.ui-autocomplete li.ui-menu-item a.ui-state-focus {
    background-color: #eaf6f9
}
ul.search-quicklinks {
    margin-left: 5%;
    padding-left: 0
}
#search-results ul.search-quicklinks li {
    max-width: 80%;
    min-width: 40%;
    margin: 0;
    padding: 0;
    margin-right: 4%;
    float: left
}
ul.search-quicklinks li a:link {
    text-decoration: none
}
ul.search-quicklinks li a:hover {
    text-decoration: underline
}
form.search-quicklinks-search {
    margin: .5em 0 0 5%
}
form.search-quicklinks-search .query {
    max-width: 18em;
    min-width: 5em
}
#search-advanced-toggle {
    text-align: right;
    font-size: .85em
}
#search-advanced-toggle a:link {
    text-decoration: none
}
#search-advanced-toggle a:hover {
    text-decoration: underline
}
#search-advanced fieldset {
    padding: 2%;
    border: 1px solid #ccc;
    margin-bottom: 1em
}
#search-advanced fieldset ul {
    margin: 0;
    padding: 0
}
#search-advanced fieldset ul li {
    list-style-type: none
}
#search-advanced fieldset ul li label {
    font-weight: normal;
    display: block
}
#search-advanced input,
#search-advanced select {
    border: 1px solid #767676;
    padding: .25em
}
@media only screen and (max-width: 767px) {
    #search-facets {
        width: 100%;
        float: none
    }
}
@media only screen and (max-width: 320px) {
    #search-contextual-navigation ul li {
        display: block;
        width: 100%
    }
    .search-results li {
        padding: 0
    }
}
@media only screen and (min-width: 1023px) {
    #search-facets {
        width: 220px;
        float: left
    }
    #search-inner-wrapper {
        float: right;
        width: 720px
    }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
figure,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline
}
html {
    font-size: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%
}
button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: inherit
}
body {
    font: normal .8em/1.6em Helvetica, 'Segoe UI', Arial, sans-serif;
    color: #000;
    background: #fff;
    font-weight: normal;
    padding: 0 10px 15px;
    zoom: 1
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    -ms-image-rendering: optimizeQuality;
    -o-image-rendering: optimizeQuality;
    image-rendering: optimizeQuality
}
@media only screen and (max-width: 767px) {
    img.hideimage {
        display: none
    }
}
img,
object {
    max-width: 100%;
    height: auto;
    vertical-align: bottom
}
svg:not(:root) {
    overflow: hidden
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0
}
p {
    margin: .7em 0
}
h1 {
    font-size: 1.714em;
    margin: 15px 0 0
}
h2 {
    font-size: 1.571em
}
h3 {
    font-size: 1.429em
}
h4 {
    font-size: 1.357em
}
h5 {
    font-size: 1.214em
}
h6 {
    font-size: 1.071em
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1em;
    margin: 12px 0 0;
    color: #404040
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
    margin: 0
}
a {
    outline: 0;
    text-decoration: underline;
    color: #004899
}
a:hover,
a:active {
    outline: 0;
    text-decoration: none
}
a:focus {
    outline: thin dotted
}
.section ul,
.section ol {
    margin: 10px 0 0 0;
    padding-left: 18px
}
.section ul ul,
.section ol ol {
    margin: 5px 15px 0 0
}
.section li {
    padding-left: 5px;
    list-style-position: outside
}
.section dl {
    padding: 10px 15px;
    background: #eaf6f9;
    margin: 7px 0;
    border: 1px solid #bad5dd
}
.section dl dt,
.section dl dt,
.section dl dt {
    font-weight: bold;
    margin: 4px 0 0 0
}
.section dd {
    margin: 0
}
@media print {
    * {
        -ms-text-shadow: none;
        -webkit-text-shadow: none;
        text-shadow: none;
        background: transparent;
        color: #000
    }
    body {
        font: 1em/1.6em "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
        color: #000;
        font-weight: normal
    }
    a,
    a:visited {
        color: #000;
        text-decoration: underline
    }
    pre,
    blockquote {
        border: 1pt solid #999;
        -moz-page-break-inside: avoid;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        -moz-page-break-inside: avoid;
        page-break-inside: avoid
    }
    @page {
        margin: 10.5pt
    }
    p,
    h2,
    h3 {
        -moz-orphans: 3;
        orphans: 3;
        -moz-widows: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    table {
        margin-bottom: 18pt
    }
    th {
        font-size: 11.25pt;
        border-bottom: 2px solid #000;
        background: 0
    }
    td {
        border-bottom: 1px solid #000;
        font-size: 9.75pt
    }
    thead th {
        background: 0;
        border-bottom: 2px solid #000;
        padding: 7.5pt;
        color: black
    }
    th,
    td,
    caption {
        padding: 7.5pt 7.5pt
    }
    table.tablerowshading tr:nth-child(even) td,
    table.tablerowshading tr.even td {
        background: 0
    }
    tfoot {
        background: 0;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        font-weight: bold;
        color: black;
        font-size: 1.071em
    }
    table caption {
        font-size: 1.071em;
        color: black
    }
    h1 {
        font-size: 1.714em;
        margin: 11.25pt 0 0;
        color: black
    }
    h2 {
        font-size: 1.571em
    }
    h3 {
        font-size: 1.429em
    }
    h4 {
        font-size: 1.357em
    }
    h5 {
        font-size: 1.214em
    }
    h6 {
        font-size: 1.071em
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 16.5pt;
        margin: 13.5pt 0 0;
        color: #404040
    }
    h1 img,
    h2 img,
    h3 img,
    h4 img,
    h5 img,
    h6 img {
        margin: 0
    }
    p,
    pre,
    code {
        margin-top: 7.5pt
    }
    #navcontainer,
    #siteinformationnav,
    #sitesearch,
    #fatfooterblock,
    #otherlinksfooterblock,
    #leftcolumn,
    .screenlogo,
    #accessibilitycontainer,
    #footerlogoscontent a>img {
        display: none
    }
    #headercontainer,
    #contentcontainer,
    #contentcontainer .section,
    #rightcolumn {
        margin: 0;
        padding: 0;
        border: 0;
        background: 0
    }
    .page-background,
    #breadcrumbs,
    #leftcolumn .section dl,
    #contentcolumn .section dl,
    #rightcolumn .section dl,
    #otherlinksfooterblock,
    #footercontainer,
    #footersitelinksblock {
        background: 0;
        border: 0
    }
    #logocontainer {
        padding: 0 0 11.25pt;
        margin: 0 0 7.5pt;
        width: 100%;
        border-bottom: solid 3px #000
    }
    #logocontainer h1 {
        margin: 1em 0 0 2em;
        display: inline-block;
        vertical-align: top
    }
    #logocontainer h1 em {
        font-size: 14.25pt;
        color: black;
        text-align: center;
        font-style: normal
    }
    #logocontainer img.printlogo {
        display: inline-block
    }
    #emergencyalert {
        margin: 7.5pt auto;
        padding: 0 0 7.5pt 0;
        border: 6px solid #000;
        background: 0
    }
    #emergencyalert h1 {
        margin: 15px
    }
    #emergencyalert a,
    #emergencyalert h1 {
        color: #000
    }
    #emergencyalert p {
        margin: 10px 15px
    }
    #breadcrumbs a {
        color: #3b3b3b
    }
    #breadcrumbs a:after {
        content: " //";
        font-size: .7em
    }
    #slideshownavigation,
    #slideshowcontent img {
        display: none
    }
    .section a:after {
        content: " (" attr(href) ") ";
        font-size: .7em
    }
    #addthisbutton {
        display: none!important
    }
    #footercontainer,
    #footercontainer a {
        text-align: center;
        color: black
    }
    #footersitelinksblock {
        border: 0 solid #fff
    }
    .page-updated {
        display: block;
        color: #3b3b3b
    }
    #footerlogoscontent a>span {
        margin: 0 .5em 0 0
    }
}
#slideshowmodule {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 0 0 5px;
    padding: 0;
    background: #fff;
    display: inline-block;
    width: 100%
}
#slideshowmodule img {
    margin: 0 auto
}
#slideshowmodule .articlecaptionoverlay a {
    text-decoration: none;
    color: #fff
}
@media only screen and (max-width: 767px) {
    #slideshownavigation ul.ui-tabs-nav,
    #slideshowcontent .ui-tabs-panel img {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px
    }
    #slideshowcontent {
        width: 100%;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
        clear: both;
        height: auto
    }
    #slideshowcontent,
    #slideshowcontent .ui-tabs-panel {
        position: relative
    }
    #slideshowmodule .ui-tabs-panel .articlecaptionoverlay {
        padding: 15px 10px;
        background: url('../img/contentoverlaybackground.png') repeat top left;
        position: relative
    }
    #slideshowmodule .articlecaptionoverlay h2 {
        font-size: 1.286em;
        margin: 0;
        padding-bottom: 6px
    }
    #slideshowmodule .articlecaptionoverlay p {
        font-size: .929em;
        line-height: 1.214em;
        padding: 0;
        margin: 0;
        color: #fff
    }
    #slideshowmodule .articlecaptionoverlay a:hover {
        text-decoration: underline
    }
}
@media only screen and (min-width: 768px) {
    #slideshowmodule {
        padding: 0;
        margin: 0 0 15px;
        border: 1px solid #000;
        background: url('../img/slideshownavigationbackground.png') repeat top left;
        display: inline-block;
        height: 290px;
        position: relative;
        overflow: auto
    }
    #slideshowmodule:after {
        clear: both
    }
    #slideshownavigation {
        margin-right: 518px
    }
    #slideshownavigation a {
        color: #fff;
        text-decoration: none
    }
    #slideshownavigation a:hover {
        text-decoration: underline
    }
    #slideshownavigation ul.ui-tabs-nav {
        float: left;
        width: 100%;
        margin-right: 518px;
        display: block
    }
    #slideshowcontent .ui-tabs-panel img,
    #slideshownavigation ul.ui-tabs-nav {
        height: auto;
        font-size: inherit;
        margin: 0;
        clip: auto;
        overflow: visible;
        position: static
    }
    #slideshownavigation li.ui-tabs-nav-item a {
        -webkit-box-shadow: inset 0 0 12px 0 #2d2d2d;
        -ms-box-shadow: inset 0 0 12px 0 #2d2d2d;
        box-shadow: inset 0 0 12px 0 #2d2d2d;
        width: auto;
        background: url('../img/slideshownavigationbackground.png') repeat top left;
        color: #fff;
        font-size: .786em;
        line-height: 1.214em;
        padding: 5px 15px;
        cursor: pointer;
        text-decoration: none;
        min-height: 47px;
        display: block;
        clear: right;
        border-top: 1px solid #4a4a4a
    }
    #slideshownavigation li.ui-tabs-nav-item a span {
        font-size: 1.214em;
        line-height: 1.214em;
        font-weight: bold
    }
    #slideshownavigation li.ui-tabs-nav-item a:hover,
    #slideshownavigation li.ui-tabs-nav-item a:focus,
    #slideshownavigation li.ui-tabs-nav-item a:active {
        background: #4a4a4a;
        outline: 0
    }
    #slideshownavigation li.ui-tabs-nav-item.ui-tabs-selected a {
        background: #004899
    }
    #slideshowcontent {
        position: absolute;
        top: 0;
        right: 0
    }
    #slideshowcontent img {
        width: 520px;
        height: 291px
    }
    #slideshowcontent .ui-tabs-panel {
        width: 518px;
        height: 291px;
        padding: 0;
        margin: 0;
        position: relative
    }
    #slideshowcontent .ui-tabs-panel img {
        overflow: hidden
    }
    #slideshowmodule .ui-tabs-panel .articlecaptionoverlay {
        color: #fff;
        margin: 0;
        width: 473px;
        bottom: 0;
        padding: 15px 15px 15px 30px;
        left: 0;
        z-index: 20;
        background: url('../img/contentoverlaybackground.png') repeat top left;
        position: absolute
    }
    #slideshowmodule .articlecaptionoverlay h2 {
        font-size: 1.429em;
        margin: 0;
        padding-bottom: 6px
    }
    #slideshowmodule .articlecaptionoverlay p {
        font-size: .929em;
        line-height: 1.214em;
        padding: 0;
        margin: 0;
        font-weight: bold;
        color: #fff
    }
    #slideshowmodule .articlecaptionoverlay a {
        text-decoration: none;
        color: #fff
    }
    #slideshowmodule .articlecaptionoverlay a:hover {
        text-decoration: underline
    }
    #slideshowmodule .ui-tabs-hide {
        position: absolute;
        left: -10000px
    }
}
@media only screen and (min-width: 1024px) {
    #slideshowmodule {
        width: 762px;
        display: block
    }
    #slideshowmodule.sub {
        float: right
    }
    #slideshownavigation {
        display: block;
        width: 244px;
        float: left;
        overflow: hidden
    }
}
table {
    margin: 1.5em 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}
table.tablerowshading tr:nth-child(even) td,
table.table.tablerowshading tr.even td {
    background: #eaf6f9
}
table caption {
    font-size: 1.071em;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    color: #404040
}
th {
    font-size: 1.071em;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #4a4a4a;
    background: #efefef
}
td {
    border-bottom: 1px solid #4a4a4a;
    vertical-align: top;
    font-size: .929em
}
thead th {
    background: #efefef;
    border-bottom: 2px solid #4a4a4a;
    padding: 10px 10px;
    color: #404040
}
th,
td,
caption {
    padding: 7px 10px
}
tfoot {
    background: #fff;
    border-top: 2px solid #bad5dd;
    border-bottom: 2px solid #bad5dd;
    font-weight: bold;
    color: #404040;
    font-size: 1.071em
}
.deep-nav-menu {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    padding: 0;
    display: block;
    clear: both
}
.deep-nav-menu li {
    padding: 0
}
.deep-nav-menu ul {
    background: #2d2d2d;
    list-style-type: none;
    padding: 0;
    margin-top: 0!important;
    margin-right: 0!important
}
.deep-nav-menu ul a {
    padding-left: 1em
}
.deep-nav-menu ul ul {
    background: #fff;
    padding-left: 1em
}
.deep-nav-menu ul ul a {
    color: #2d2d2d;
    padding-left: 0
}
.deep-nav-menu ul ul a.active,
.deep-nav-menu ul ul a:hover,
.deep-nav-menu ul ul a:focus {
    color: #004899;
    background: #fff
}
.deep-nav-menu ul ul ul a {
    padding-top: 5px;
    padding-bottom: 5px
}
.deep-nav-menu ul ul ul .active {
    margin-left: -1em;
    background: transparent url('../img/site-sprite.png') no-repeat;
    background-position: -10px -1839px;
    padding-left: 1em
}
.deep-nav-menu a {
    margin: 0;
    padding: .8em 0;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 1em;
    line-height: 1.2em
}
.deep-nav-menu a:hover {
    cursor: pointer;
    text-decoration: underline
}
.deep-nav-menu a.active,
.deep-nav-menu a:hover,
.deep-nav-menu a:focus {
    color: #9bd5ee;
    background: #404040
}
@media only screen and (min-width: 768px) {
    .deep-nav-menu ul ul a {
        border: 0
    }
    .deep-nav-menu a {
        border-top: 1px solid #4a4a4a;
        border-bottom: 1px solid #1c1c1c
    }
}
#sitesearch input.button,
.icon-twitter,
.icon-facebook,
.icon-googleplus,
.icon-youtube,
.icon-vimeo,
.icon-picasa,
.icon-flickr,
.icon-rss,
.icon-wordpress,
.icon-blogger,
.icon-pinterest,
.icon-linkedin,
#dropdownnav li li li a,
#dropdownnav li li li a:hover,
#dropdownnav li li li a:focus,
#dropdownnav li li li a:active,
#breadcrumbs a.home,
#breadcrumbs a,
#breadcrumbs span,
#dropdownnav li li span {
    background-image: url('../img/site-sprite.png');
    background-repeat: no-repeat;
    background-color: transparent
}
#dropdownnav li:last-child li span,
#dropdownnav li:nth-last-child(2) li span {
    background-image: url('../img/site-sprite.png');
    background-repeat: no-repeat;
    background-color: transparent
}
#sitesearch input.button {
    background-position: -10px -10px;
    -ms-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px
}
#sitesearch input.button:hover,
#sitesearch input.button:focus,
#sitesearch input.button:active {
    background-position: -10px -40px
}
.icon-twitter {
    background-position: -10px -666px
}
.icon-twitter:hover,
.icon-twitter:focus,
.icon-twitter:active {
    background-position: -10px -694px
}
.icon-facebook {
    background-position: -10px -742px
}
.icon-facebook:hover,
.icon-facebook:focus,
.icon-facebook:active {
    background-position: -10px -770px
}
.icon-googleplus {
    background-position: -10px -818px
}
.icon-googleplus:hover,
.icon-googleplus:focus,
.icon-googleplus:active {
    background-position: -10px -846px
}
.icon-youtube {
    background-position: -10px -894px
}
.icon-youtube:hover,
.icon-youtube:focus,
.icon-youtube:active {
    background-position: -10px -922px
}
.icon-vimeo {
    background-position: -10px -970px
}
.icon-vimeo:hover,
.icon-vimeo:focus,
.icon-vimeo:active {
    background-position: -10px -998px
}
.icon-picasa {
    background-position: -10px -1046px
}
.icon-picasa:hover,
.icon-picasa:focus,
.icon-picasa:active {
    background-position: -10px -1074px
}
.icon-flickr {
    background-position: -10px -1122px
}
.icon-flickr:hover,
.icon-flickr:focus,
.icon-flickr:active {
    background-position: -10px -1150px
}
.icon-rss {
    background-position: -10px -1198px
}
.icon-rss:hover,
.icon-rss:focus,
.icon-rss:active {
    background-position: -10px -1226px
}
.icon-wordpress {
    background-position: -10px -1274px
}
.icon-wordpress:hover,
.icon-wordpress:focus,
.icon-wordpress:active {
    background-position: -10px -1302px
}
.icon-blogger {
    background-position: -10px -1350px
}
.icon-blogger:hover,
.icon-blogger:focus,
.icon-blogger:active {
    background-position: -10px -1378px
}
.icon-pinterest {
    background-position: -10px -1426px
}
.icon-pinterest:hover,
.icon-pinterest:focus,
.icon-pinterest:active {
    background-position: -10px -1454px
}
.icon-linkedin {
    background-position: -10px -1502px
}
.icon-linkedin:hover,
.icon-linkedin:focus,
.icon-linkedin:active {
    background-position: -10px -1530px
}
#dropdownnav li li li a,
#dropdownnav li li li a:hover,
#dropdownnav li li li a:focus,
#dropdownnav li li li a:active {
    background-position: -10px -1839px
}
#breadcrumbs a.home {
    background-position: -5px -1872px
}
#breadcrumbs a,
#breadcrumbs span {
    background-position: -10px -1906.5px
}
#dropdownnav li li span {
    background-position: 157px -1786.5px
}
#dropdownnav li:last-child li span,
#dropdownnav li:nth-last-child(2) li span {
    background-position: 164px -1815px
}
.time-to-talk,
.access-canberra,
.act-government {
    background-image: none
}
@media only screen and (min-width: 768px) {
    .time-to-talk,
    .access-canberra,
    .act-government {
        background-image: url('../img/site-sprite.png');
        background-repeat: no-repeat
    }
    .time-to-talk {
        width: 64px;
        height: 50px;
        background-position: -10px -1578px
    }
    .access-canberra {
        width: 84px;
        height: 50px;
        background-position: -10px -1648px
    }
    .act-government {
        width: 95px;
        height: 50px;
        background-position: -10px -1718px
    }
}
@media only screen and (max-width: 767px) {
    .responsive-scroll-region {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #d3d3d3
    }
    .responsive-scroll-region>:last-child {
        margin-bottom: 0
    }
}
@media only screen and (max-width: 767px) {
    body:not(.lt-ie8) .responsive-table-two-column td {
        padding-left: 50%
    }
    body:not(.lt-ie8) .responsive-table-two-column td:before {
        width: 50%
    }
    body:not(.lt-ie8) .responsive-table-two-column th {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    body:not(.lt-ie8) .responsive-table-two-column tr {
        display: block
    }
    body:not(.lt-ie8) .responsive-table-two-column td {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 100%;
        float: left
    }
    body:not(.lt-ie8) .responsive-table-two-column td:before {
        display: block;
        content: attr(data-header);
        position: absolute;
        left: 0;
        font-weight: bold
    }
    body:not(.lt-ie8) .responsive-table-two-column td:last-child {
        margin-bottom: 2em
    }
    body:not(.lt-ie8) .responsive-table-two-column tr:last-child td:last-child {
        margin-bottom: 0
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-30 td {
        padding-left: 30%
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-30 td:before {
        width: 30%
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-40 td {
        padding-left: 40%
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-40 td:before {
        width: 40%
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-60 td {
        padding-left: 60%
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-60 td:before {
        width: 60%
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-70 td {
        padding-left: 70%
    }
    body:not(.lt-ie8) .responsive-table-two-column.header-70 td:before {
        width: 70%
    }
}
.toggleMenu {
    display: block;
    width: 100%;
    padding: .5em;
    font-size: 1.5em;
    border: 0;
    margin-bottom: 10px;
    color: white;
    background: #2d2d2d;
    position: relative;
    text-align: left
}
.toggleMenu:hover,
.toggleMenu:focus,
.toggleMenu.active {
    color: #9bd5ee;
    background-color: #404040
}
.toggleMenu.active {
    margin-bottom: 0
}
.toggleMenu>span {
    position: absolute;
    right: 15px;
    font-weight: bolder;
    font-size: 2em;
    bottom: 50%;
    line-height: .85em
}
.toggleMenu.active span {
    transform: rotate(0deg)
}
.toggleMenu>span {
    transition: .25s;
    transform-origin: bottom;
    transform: rotate(90deg)
}