@import "fonts.less";

body {
	font-family: "Akkurat-TC";
	font-size: 14px;
	line-height: 20px;
}

.main {
	max-width: 1000px;
	margin: auto;
}

h1 {
	margin-top: 30px;
}

h2 {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
	margin-top: 50px;
}

a {
	color: blue;
}

code {
	color: #3c340a;
	font-family: monospace;
	background: #fff2ad;
}

pre {
	background: #fff2ad;
}