._gen-columns(@suffix, @columnWidth, @columnGutterWidth, @iteration: 1) when (@iteration =< 12) {
	@suffixStr: ~"@{suffix}";
	.col@{suffixStr}-@{iteration}, .col@{suffixStr}-@{iteration}-breakout-none {
		width: @columnWidth * @iteration + @columnGutterWidth * (@iteration - 1);
		margin-left: @columnGutterWidth;
		margin-right: 0px;
		box-sizing: border-box;
	}
	.col@{suffixStr}-@{iteration}-breakout-left {
		width: @columnWidth * @iteration + @columnGutterWidth * (@iteration - 1) + @columnGutterWidth;
		margin-left: 0px;
		box-sizing: border-box;
	}
	.col@{suffixStr}-@{iteration}-breakout-right {
		width: @columnWidth * @iteration + @columnGutterWidth * (@iteration - 1) + @columnGutterWidth;
		margin-left: @columnGutterWidth;
		margin-right: -@columnGutterWidth;
		box-sizing: border-box;
	}
	.col@{suffixStr}-@{iteration}-breakout-both {
		width: @columnWidth * @iteration + @columnGutterWidth * (@iteration - 1) + @columnGutterWidth * 2;
		margin-left: 0;
		margin-right: 0;
		box-sizing: border-box;
	}
	.text-col@{suffixStr}-@{iteration} {
		-webkit-column-count: @iteration;
		-moz-column-count: @iteration;
		column-count: @iteration;
	}
	._gen-columns(@suffix, @columnWidth, @columnGutterWidth, @iteration + 1);
}

._gen-columns-push(@suffix, @columnWidth, @columnGutterWidth, @iteration: 0) when (@iteration =< 12) {
	@suffixStr: ~"@{suffix}";
	.col@{suffixStr}-push-@{iteration} {
		left: @columnWidth * @iteration + @columnGutterWidth * @iteration;
	}
	._gen-columns-push(@suffix, @columnWidth, @columnGutterWidth, @iteration + 1);
}

._gen-columns-pull(@suffix, @columnWidth, @columnGutterWidth, @iteration: 0) when (@iteration =< 12) {
	@suffixStr: ~"@{suffix}";
	.col@{suffixStr}-pull-@{iteration} {
		left: -(@columnWidth * @iteration + @columnGutterWidth * @iteration);
	}
	._gen-columns-pull(@suffix, @columnWidth, @columnGutterWidth, @iteration + 1);
}

/* Generate the row class plus column def */
._gen-row(@suffix, @columnWidth, @columnGutterWidth) {
	@suffixStr: ~"@{suffix}";
	.row {
		clear: both;
		box-sizing: border-box;
		margin-left: -@columnGutterWidth;
		
		&::after, &::before {
			display: block;
			clear: both;
			content: " ";
		}
		
		&:after, &:before {
			display: block;
			clear: both;
			content: " ";
		}
		
		& > .col@{suffixStr}-break {
			clear: both;
		}
		
		&.row@{suffixStr}-no-wrap {
			white-space: nowrap;
			font-size: 1px;
			
			> * {
				display: inline-block;
				white-space: normal;
				vertical-align: top;
				float: none;
				font-size: 1rem;
			}
		}
		
		&.row-border-top:before {
			border-top: 1px solid black;
			content: ' ';
			display: block;
			margin-left: @columnGutterWidth;
		}
		
		&.row-border-bottom:after {
			border-top: 1px solid black;
			content: ' ';
			display: block;
			margin-left: @columnGutterWidth;
		}
		
		> * {
			position: relative;
			float: left;
		}
		
	}
		
	._gen-columns(@suffix, @columnWidth, @columnGutterWidth);
	._gen-columns-push(@suffix, @columnWidth, @columnGutterWidth);
	._gen-columns-pull(@suffix, @columnWidth, @columnGutterWidth);
}

* {
    -webkit-column-gap: inherit;
    -moz-column-gap: inherit;
    column-gap: inherit;
}

/* A pixel based grid */
._gen-grid(@suffix, @wrapperWidth, @columnGutterWidth, @wrapperPadding) when (ispercentage(@wrapperWidth) = false) {
	@suffixStr: ~"@{suffix}";
	@columnWidth: ((@wrapperWidth - ( 11 * @columnGutterWidth)) / 12);
	
	.wrapper {
		width: @wrapperWidth + @wrapperPadding * 2;
		margin: auto;
		padding-left: @wrapperPadding;
		padding-right: @wrapperPadding;
		box-sizing: border-box;
		
		* {
			-webkit-column-gap: @columnGutterWidth;
			-moz-column-gap: @columnGutterWidth;
			column-gap: @columnGutterWidth;
		}
	}
	
	.grid-gutter-left {
		left: @columnGutterWidth;
	}
	
	.grid-gutter-right {
		right: @columnGutterWidth;
	}
	
	.grid-gutter-top {
		top: @columnGutterWidth;
	}
	
	.grid-gutter-bottom {
		bottom: @columnGutterWidth;
	}
	
	.col-padding, .col-padding@{suffixStr} {
		padding-left: @columnGutterWidth;
		padding-right: @columnGutterWidth;
	}
	
	.faux-row {
		position: relative;
		width: @wrapperWidth;
		margin: auto;
	}
	
	.faux-row-inset {
		position: relative;
		width: @wrapperWidth - @columnGutterWidth * 2;
		margin: auto;
	}
	
	.faux-row-positioned-left-inset {
		position: absolute;
		left: 50%;
		margin-left: -@wrapperWidth/2;
	}
	
	.faux-row-positioned-right-inset {
		position: absolute;
		right: 50%;
		margin-right: -@wrapperWidth/2;
	}
	
	.faux-row-positioned-left {
		position: absolute;
		left: 50%;
		margin-left: -@wrapperWidth/2 - @columnGutterWidth;
	}
	
	.faux-row-positioned-right {
		position: absolute;
		right: 50%;
		margin-right: -@wrapperWidth/2 - @columnGutterWidth;
	}
	
	._gen-row(@suffix, @columnWidth, @columnGutterWidth);
	
}

/* A percentage based grid */
._gen-grid(@suffix, @wrapperWidth, @columnGutterWidth, @wrapperPadding) when (ispercentage(@wrapperWidth) = true) {
	@suffixStr: ~"@{suffix}";
	@columnWidth: ((@wrapperWidth - @wrapperPadding * 2 - ( 11 * @columnGutterWidth)) / 12);
	
	.wrapper {
		width: unit(@wrapperWidth, vw);
		margin: auto;
		padding-left: unit(@wrapperPadding, vw);
		padding-right: unit(@wrapperPadding, vw);
		box-sizing: border-box;
		
		* {
			-webkit-column-gap: unit(@columnGutterWidth, vw);
			-moz-column-gap: unit(@columnGutterWidth, vw);
			column-gap: unit(@columnGutterWidth, vw);
		}
	}
	
	.grid-gutter-left {
		left: unit(@columnGutterWidth, vw);
	}
	
	.grid-gutter-right {
		right: unit(@columnGutterWidth, vw);
	}
	
	.grid-gutter-top {
		top: unit(@columnGutterWidth, vw);
	}
	
	.grid-gutter-bottom {
		bottom: unit(@columnGutterWidth, vw);
	}
	
	.col-padding, .col-padding@{suffixStr} {
		padding-left: unit(@columnGutterWidth, vw);
		padding-right: unit(@columnGutterWidth, vw);
	}
	
	.faux-row {
		position: relative;
		width: unit(@wrapperWidth - @wrapperPadding * 2, vw);
		margin: auto;
	}
	
	.faux-row-inset {
		position: relative;
		width: unit(@wrapperWidth - @columnGutterWidth * 2, vw);
		margin: auto;
	}
	
	.faux-row-positioned-left-inset {
		position: absolute;
		left: 0px;
		margin-left: unit(@wrapperPadding, vw);
	}
	
	.faux-row-positioned-right-inset {
		position: absolute;
		right: 0px;
		margin-right: unit(@wrapperPadding, vw);
	}
	
	.faux-row-positioned-left {
		position: absolute;
		left: 0px;
		margin-left: unit(@wrapperPadding - @columnGutterWidth, vw);
	}
	
	.faux-row-positioned-right {
		position: absolute;
		right: 0px;
		margin-right: unit(@wrapperPadding - @columnGutterWidth, vw);
	}
	
	._gen-row(@suffix, unit(@columnWidth, vw), unit(@columnGutterWidth, vw));
	
}

/* Generate classes which hide named columns */
._gen-hidecols(@name) {
	@prefix: ~"@{name}";
	
	.visible-@{prefix} {
		display: none;
	}
}

/* Generate classes which hide named columns */
._gen-showcols(@name) {
	@prefix: ~"@{name}";
	
	.visible-@{prefix} {
		display: block;
	}
	
	.hidden-@{prefix} {
		display: none;
	}
}

/*
	Generate a non-named grid with the given properties
*/
.generate-grid(@wrapperWidth, @columnGutterWidth: 0px, @wrapperPadding: 0px) {
	
	.hidden {
		display: none;
	}
	
	._gen-grid("", @wrapperWidth, @columnGutterWidth, @wrapperPadding);
	
}

/*
	Generate a named grid with the given properties
*/
.generate-named-grid(@name, @wrapperWidth, @columnGutterWidth, @wrapperPadding) {
	
	._gen-grid("-@{name}", @wrapperWidth, @columnGutterWidth, @wrapperPadding);
	
}

/*
	Generate a non-named grid, wrapped in a media query
*/
.generate-media-grid(@mediaDef, @wrapperWidth, @columnGutterWidth, @wrapperPadding) {
	@media @mediaDef {
		._gen-grid("", @wrapperWidth, @columnGutterWidth, @wrapperPadding);
	}
}

/*
	Generate a named grid, wrapped in a media query
*/
.generate-named-media-grid(@name, @mediaDef, @wrapperWidth, @columnGutterWidth, @wrapperPadding) {
	
	@media @mediaDef {
		.generate-grid(@wrapperWidth, @columnGutterWidth, @wrapperPadding);
		.generate-named-grid(@name, @wrapperWidth, @columnGutterWidth, @wrapperPadding);
		._gen-showcols(@name);
	}
	
}


/*
	Generate a named grid, wrapped in a media query, WITHOUT standard sizes
*/
.generate-named-only-media-grid(@name, @mediaDef, @wrapperWidth, @columnGutterWidth, @wrapperPadding) {
	
	@media @mediaDef {
		.generate-named-grid(@name, @wrapperWidth, @columnGutterWidth, @wrapperPadding);
		._gen-showcols(@name);
	}
	
}