.visuallyhidden, #footerlogoscontent img, #accessibilitycontainer, #mediaiconscontent span {
	border:0;
	clip:rect(0,0,0,0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}
#accessibilitycontainer {
	clip:auto;
	height:auto;
	margin:inherit;
	margin:0 -10px;
	overflow:visible;
	overflow:hidden;
	padding:inherit;
	padding:0;
	position:relative;
	position:fixed;
	width:auto;
	width:100%;
	font-size:1.143em;
	list-style-type:none;
	background-color:rgba(0,0,0,0.6);
	color:#ffffff;
	z-index:800;
	clear:both;
	ul {
		margin:0;
		padding:0;
		list-style-type:none;
		
		li {
			margin-top: 0px;
		}
		
		li a:focus {
			position:static;
			width:auto;
			height:auto;
		}
	}
	li a {
		padding:8px 15px 8px;
	}
	a {
		text-decoration:none;
		font-weight:bold;
		display:block;
		float:left;
		background-color:#ffffff;
		color:#143351;
		margin:6px 6px 6px 0;
		position:absolute;
		left:0;
		top:-500px;
		width:1px;
		height:1px;
		overflow:hidden;
	}
	a:hover {
		text-decoration:underline;
		background:#82d6f4;
	}
}

/* Search */
ul.ui-autocomplete {
    background: white;
    text-align: left;
    border: solid 1px #767676;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    width: 25em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}
ul.ui-autocomplete h2 {
    font-size: small;
    background-color: #efefef;
    padding: 5px;
}
ul.ui-autocomplete li.ui-menu-item {
    padding: 0;
    margin: 0;
}
ul.ui-autocomplete li.ui-menu-item a {
    display: block;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    color: #333;
}
ul.ui-autocomplete li.ui-menu-item a.description,  ul.ui-autocomplete li.ui-menu-item a.url {
    padding-top: 0px;
}
ul.ui-autocomplete li.ui-menu-item span {
    display: block;
    font-size: small;
    padding-left: 10px;
}
ul.ui-autocomplete li.ui-menu-item a.ui-state-hover {
    background-color: #efefff;
}
/* QUICKLINKS */
ul.search-quicklinks {
    margin-left: 5%;
    padding-left: 0;
}

.pdf, .excel, .word, .powerpoint, .zip, .rtf {
    padding: 8px 32px 1px 0;
    margin: 0 6px 0 0;
    z-index: 400;
    overflow: hidden;
}

.pdf {
    background: url(https://www.action.act.gov.au/__data/assets/image/0009/338733/pdficon.png?v=0.6.1) no-repeat right 2px;
}
.excel {
    background: url(https://www.action.act.gov.au/__data/assets/image/0010/338734/excelicon.png?v=0.5.1) no-repeat right 2px;
}
.word {
    background: url(https://www.action.act.gov.au/__data/assets/image/0011/338735/wordicon.png?v=0.4.1) no-repeat right 2px;
}
.powerpoint {
    background: url(https://www.action.act.gov.au/__data/assets/image/0003/338736/powerpointicon.png?v=0.4.1) no-repeat right 2px;
}
.zip {
    background: url(https://www.action.act.gov.au/__data/assets/image/0006/338766/zipicon.png?v=0.4.1) no-repeat right 2px;
}
.rtf {
    background: url(https://www.action.act.gov.au/__data/assets/image/0007/338767/rtficon.png?v=0.4.1) no-repeat right 2px;    
}