@import "grid.less";
@import "mixins.less";
@import "easing.less";
@import "legacy.less";
@import "fonts.less";

@screenSizeLarge:			~"screen and (min-width: 1300px)";
@screenSizeMedium:			~"screen and (min-width: 1230px)";
@screenSizeSmall:			~"screen and (min-width: 700px) and (max-width: 1230px)";
@screenSizeTiny:			~"screen and (min-width: 430px) and (max-width: 700px)";
@screenSizeMobile:			~"screen and (max-width: 430px)";

@screenSizeTabletHeader:	~"screen and (max-width: 850px)";

@retina:					~"screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi)";

.generate-grid(1170px, 30px, 30px);
// .generate-named-media-grid("large", @screenSizeLarge, 1170px, 30px, 30px);
.generate-named-media-grid("medium", @screenSizeMedium, 1170px, 30px, 30px);
.generate-named-media-grid("small", @screenSizeSmall, 97%, 3%, 2%);
.generate-named-media-grid("tiny", @screenSizeTiny, 100%, 4%, 4%);
.generate-named-media-grid("mobile", @screenSizeMobile, 100%, 4%, 4%);

@media @screenSizeTabletHeader {
	._gen-showcols("tabletheader");
}

/* Config */
@fontSize: 14px;

@headerHeight: 180px;
@headerLogoHeight: 60px;
@headerSearchHeight: 50px;

@tripPlannerTabHeight: 45px;

@navBarHeight: 40px;

@font: "Akkurat-TC", Akkurat, Helvetica, sans-serif;

@linkColor: #1f76da;

@greyText: #666666;

@busColor: #006fba;
@activeTravelColor: #582c83;
@lightRailColor: #c8102e;

body{
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: @font;
	font-size: unit(@fontSize/16*100, %);
	line-height: 1.53;
	margin: 0px;
}

.visible-print {
	display: none;
}

a {
	color: @linkColor;
}

ul, ol {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 0px;
	line-height: 20px;
	font-weight: lighter;
	
	li {
		margin-left: 15px;
		margin-top: 2px;
		
		ul, ol {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}

p {
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: lighter;
}

.accessibility-hidden {
	position: absolute;
	display: block;
	height: 1px;
	width: 1px;
	overflow: hidden;
	opacity: 0;
}

.printlogo {
	display: none;
}

input, a, button {
	&:focus {
		outline: auto 3px #5588ff;
	}
}

.focused-field {
	outline: auto 3px #5588ff;
}

.text-field {
	font-size: @fontSize;
	border: 0px;
	padding: 5px 10px;
	height: 35px;
	line-height: 25px;
	margin: 0px;
	background: white;
	box-sizing: border-box;
	transition: background-color 200ms ease-in-out;
	
	&:focus, &.focused, .focused & {
		.focused-field();
	}
}

.checkbox-field {
	position: relative;
	cursor: pointer;
	padding-left: 30px;
	line-height: 15px;
	
	> span {
		width: 20px;
		height: 20px;
		line-height: 20px;
		vertical-align: middle;
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		
		input {
			opacity: 0;
			outline: none;
			z-index: -100;
		}
		
		input + span {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 20px;
			height: 20px;
			background: white no-repeat center center;
		}
		input[type=radio] + span {
			border-radius: 10px;
		}
		
		input:checked + span {
			background-image: url('/img/checkbox-tick.png');
		}
		
		input:focus + span {
			.focused-field();
			outline-radius: 10px;
			-moz-outline-radius: 10px;
			-webkit-outline-radius: 10px;
			-ms-outline-radius: 10px;
		}
	}
	
	em {
		font-style: normal;
		display: block;
		padding-top: 3px;
	}
	
}

.button, input[type=submit], button {
	background: black;
	color: white;
	text-align: center;
	padding: 12px 20px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 12px;
	letter-spacing: 0.08em;
	border: 0px;
	text-decoration: none;
	cursor: pointer;
	.no-appearance();
	
	&.disabled {
		background: #cccccc;
		color: #777777;
		cursor: default;
	}
}

select {
	.no-appearance();
	.text-field();
	border-radius: 0px;
	line-height: 20px;
	border: 1px solid rgba(0,0,0,0.2);
	background: white url('/img/select-bg.png') no-repeat right center;
	padding-right: 25px;
	
	.lt-ie9 & {
		padding: 0px !important;
		line-height: normal;
		height: normal;
		border: none;
		background: white;
	}
}

.bus-color {
	color: @busColor;
}

.light-rail-color {
	color: @lightRailColor;
}

.active-travel-color {
	color: @activeTravelColor;
}

#header {
	height: @headerHeight;
	
	@media @screenSizeTabletHeader {
		height: auto;
		margin-bottom: 30px;
	}
	
	@media @screenSizeMobile {
		margin-bottom: 10px;
	}
	
	// Top right site info (Accessibility / Contact)
	#siteinformationnav {
		position: absolute;
		top: 0px;
		right: 0px;
		padding-top: 10px;
		z-index: 1;
		
		ul {
			padding: 0px;
			margin: 0px;
			display: block;
			
			li {
				padding: 0px;
				margin: 0px;
				display: block;
				float: left;
				
				a {
					display: inline-block;
					text-decoration: none;
					font-size: 12px;
					text-transform: uppercase;
					color: #111111;
					padding: 0px 13px;
					border-right: 1px solid #dddddd;
					height: 10px;
					line-height: 10px;
					letter-spacing: 0.08em;
					
					&:hover {
						color: @linkColor;
					}
				}
				
				&:last-child a {
					border-right: none;
					padding-right: 0px;
				}
			}
		}
		
		@media @screenSizeTabletHeader {
			position: static;
			text-align: center;
			
			ul li {
				float: none;
				display: inline-block;
				
				a {
					display: block;
				}
			}
			
		}
	}
	
	// Logo section of the header
	.logo-col {
		padding: (@headerHeight - @headerLogoHeight) / 2 0px;
		height: @headerLogoHeight;
		line-height: @headerLogoHeight;
		vertical-align: middle;
		
		#logocontainer {
			
			@media @screenSizeMobile {
				text-align: center;
			}
			
		}
		
		.logo-wrapper {
			display: inline-block;
			vertical-align: middle;
			
			&.act-gov {
				background: url('/img/actgov-logo.png') no-repeat top left;
				width: 118px;
				height: 61px;
				
				@media @retina {
					background: url('/img/actgov-logo-2x.png') no-repeat top left / contain;
				}
			}
			
			&.tc {
				background: url('/img/header-logo.png') no-repeat top left;
				width: 375px;
				height: 49px;
				
				@media @retina {
					background: url('/img/header-logo-2x.png') no-repeat top left / contain;
				}
				
				@media @screenSizeTabletHeader {
					height: 49px;
					width: 90px;
					background: url('/img/header-logo-mobile.png') no-repeat top left / contain;
				}
			}
			
			span {
				.accessibility-hidden();
			}
			
			a {
				text-decoration: none;
				display: block;
			}
		}
		
		.sep {
			height: @headerLogoHeight;
			display: inline-block;
			border-left: 1px solid #666666;
			vertical-align: middle;
			margin-left: 15px;
			margin-right: 15px;
		}
		
		@media @screenSizeTabletHeader {
			padding-top: 30px;
		}
		
	}
	
	// Search section of the header
	.search-col {
		height: @headerHeight;
		
		@media @screenSizeTabletHeader {
			height: auto;
		}
		
	}
	
}

#sitesearch, .mobile-nav-panel .search {
	position: absolute;
	right: 0px;
	height: @headerSearchHeight;
	bottom: @headerHeight/2 - @headerSearchHeight/2;
	padding-right: @headerSearchHeight + 3px;
	
	@media @screenSizeTabletHeader {
		top: auto !important;
		bottom: auto !important;
		position: relative;
		height: auto;
		width: 300px;
		margin: auto;
		margin-top: 20px;
		padding-bottom: 10px;
	}
	
	input[type=search], button {
		height: @headerSearchHeight;
		line-height: @headerSearchHeight;
		border: 0px;
		border-radius: 0px;
		padding: 0px 10px;
		font-size: inherit;
		display: inline-block;
		margin: 0px;
		vertical-align: top;
	}
	
	input[type=search] {
		background: #f2f2f2;
		width: 250px;
		.no-appearance();
	}
	
	button {
		position: absolute;
		top: 0px;
		right: 0px;
		background: #f2f2f2 url('/img/search-button.png') no-repeat center center;
		width: @headerSearchHeight;
		.no-appearance();
		
		span {
			.accessibility-hidden;
		}
	}
	
	@media @screenSizeSmall, @screenSizeTiny, @screenSizeMobile {
		bottom: 55px;
		padding-right: 37px;
		
		input[type=search] {
			width: 190px;
		}
		input[type=search], button {
			height: 35px;
			line-height: 35px;
		}
		button {
			width: 35px;
		}
	}
	
	@media @screenSizeTabletHeader {
		padding: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		width: 100%;
		
		input[type=search] {
			width: 100% !important;
		}
	}
}

#navbar-wrapper {
	margin-bottom: 30px;
	
	@media @screenSizeTabletHeader {
		display: none;
	}
	
	.navbar {
		
		ul, li {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		
		.mobile-trigger {
			display: none;
		}
		
		.main-nav > ul {
			display: flex;
			
			> li {
				height: @navBarHeight;
				display: inline-block;
				position: relative;
				
				// Flex stuff
				flex-grow: 1;
				
				&:after {
					content: ' ';
					display: block;
					position: absolute;
					top: 12px;
					bottom: 12px;
					right: 0px;
					border-right: 1px solid #ddd;
				}
				
				> a {
					display: block;
					height: @navBarHeight;
					line-height: @navBarHeight;
					text-align: center;
					text-decoration: none;
					font-size: 15px;
					color: black;
					font-weight: bold;
					padding-left: 10px;
					padding-right: 10px;
					
					span {
						display: inline-block;
						line-height: 20em/unit(@fontSize);
						vertical-align: middle;
					}
				}
				
				&:last-child:after {
					display: none;
				}
				
				&.active > a, & > a:hover {
					color: @linkColor;
				}
				
				> ul {
					display: none;
					position: absolute;
					z-index: 20;
					left: 50%;
					width: 240px;
					margin-left: -240px/2;
					padding-top: 30px;
					
					&:before {
						content: ' ';
						display: block;
						position: absolute;
						.triangle-up(8px, #0056b8);
						border-bottom-width: 11px;
						top: 22px;
						left: 50%;
						margin-left: -2px;
					}
					
					li {
						background: #0056b8;
						padding: 0px 20px;
						
						&:first-child {
							padding-top: 10px;
							a {
								border-top: 0px;
							}
						}
						
						&:last-child {
							padding-bottom: 10px;
						}
						
						a {
							border-top: 1px solid rgba(255,255,255,0.2);
							display: block;
							padding: 10px 0px;
							padding-right: 25px;
							color: white;
							text-decoration: none;
							.antialias;
							position: relative;
							
							&:after {
								content: '\2192 ';
								display: block;
								position: absolute;
								top: 10px;
								right: 0px;
								opacity: 0;
								transition: opacity 0.2s;
							}
							
							&:hover {
								// background-color: white;
								// color: @linkColor;
								
								&:after {
									opacity: 1;
								}
							}
						}
					}
					
					ul {
						display: none;
					}
				}
				
				&:hover, &:focus {
					> ul {
						display: block;
					}
				}
				
				&:last-child {
					> ul {
						left: auto;
						right: 0px;
						
						&:before {
							left: auto;
							margin-left: 0px;
							right: 40px;
						}
					}
				}
				
			}
			
		}
		
	}
}

.alert-box {
	margin-top: 30px;
	margin-bottom: 30px;
	background: #fff3e6 url('/img/alert-emergency.png') no-repeat 20px 14px;
	color: #393939;
	padding: 15px 15px 15px 55px;
	box-sizing: border-box;
	
	p {
		&:first-child {
			margin-top: 0px;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
	
	&.info {
		background-color: #e5eef8;
		background-image: url('/img/alert-info.png');
	}
	
	
}

.trip-planner-container {
	.trip-planner {
		position: relative;
		padding-top: @tripPlannerTabHeight;
		color: #393939;
		
		.tab {
			background: #f2f2f2;
			
			.tab-label {
				position: absolute;
				top: 0px;
				display: block;
				height: @tripPlannerTabHeight;
				line-height: 20px;
				box-sizing: border-box;
				padding-top: @tripPlannerTabHeight/2 - 20px/2;
				color: inherit;
				text-decoration: none;;
				background: #C1C1C1;
				width: 50%;
				font-weight: bold;
				
				h3 {
					font-size: inherit;
					margin: 0px;
					padding-left: 20px;
					white-space: nowrap;
					
					@media screen and (max-width: 1000px) {
						padding-left: 15px;
					}
				}
			}
			
			.main-content & {
				@media @screenSizeSmall, @screenSizeMedium, @screenSizeLarge {
					.tab-label {
						width: 150px;
					}
					&.real-time .tab-label {
						left: 150px;
					}
				}
			}
			
			.tab-content {
				padding: 20px;
				padding-top: 15px;
				display: none;
				box-sizing: border-box;
				
				.sidebar & {
					min-height: 375px;
				}
				
				@media screen and (max-width: 1000px) {
					padding: 15px;
				}
			}
			
			&.real-time {
				.tab-label {
					left: 50%;
				}
				
				.nxtbus-text {
					position: relative;
					box-sizing: border-box;
					padding-top: 70px;
					padding-bottom: 60px;
					background: url("/img/nxtbus-logo.png") no-repeat 0px 9px;
					
					.sidebar & {
						min-height: 340px;
					}
					
					p {
						margin-top: 0px;
						
						&:last-of-type {
							margin-bottom: 0px;
						}
					}
					
					.nxtbus-button {
						position: absolute;
						left: 0px;
						bottom: 0px;
						right: 0px;
						
						.button {
							display: block;
						}
					}
				}
			}
			
			&.active {
				
				.tab-label {
					background: #f2f2f2;
					color: #0057b8;
				}
				
				.tab-content {
					display: block;
				}
				
			}
			
		}
		
	}
	

	@media screen and (max-width: 900px) {
		// Disable tabs at lower res, just show NXTBUS link under trip planner dialog...
		.trip-planner {
			.tab.real-time {
				display: none;
			}
			
			.tab.planner {
				
				.tab-label {
					width: 100%;
					background: #0057B8;
					color: white;
				}
				
				.tab-content {
					display: block;
				}
				
			}
		}
		
		.nxtbus-mobile {
			display: block;
			
			a {
				color: @linkColor;
				text-decoration: none;
				border-bottom: 1px solid @linkColor;
			}
		}
	}
}

.image-slider {
	position: relative;
	padding-top: 30px;
	
	.indicators {
		position: absolute;
		left: 0px;
		bottom: 0px;
		line-height: 10px;
		z-index: 10;
		
		span {
			display: inline-block;
			width: 10px;
			height: 10px;
			background: #e8e8e8;
			margin-right: 10px;
			border-radius: 5px;
			transition: transform 0.2s;
			cursor: pointer;
			
			&.active {
				background-color: #0057b8;
			}
			
			&:hover {
				transform: scale(1.5);
			}
		}
	}
	
	@media screen and (max-width: 850px) {
		padding-bottom: 40px;
		
		.indicators {
			left: 0px;
			bottom: 14px;
			right: 0px;
			text-align: center;
		}
	}
	
	.slides {
		overflow: hidden;
		.aspect-ratio(870, 385);
		
		.slide {
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			overflow: hidden;
			
			&.inactive {
				display: none;
			}
			
			.modes {
				
				@media screen and (max-width: 950px) {
					display: none;
				}
				
				span {
					
					&:after {
						content: ' ';
						display: none;
						line-height: 27px;
						width: 25px;
						height: 25px;
						font-size: 14px;
						text-align: center;
						margin-right: 5px;
						color: white;
						border-radius: 13px;
						margin-bottom: 20px;
					}
					
					&.bus:after {
						background-color: @busColor;
						content: 'B';
						display: inline-block;
					}
					
					&.light-rail:after {
						background-color: @lightRailColor;
						content: 'L';
						display: inline-block;
					}
					
					&.active-travel:after {
						background-color: @activeTravelColor;
						content: 'A';
						display: inline-block;
					}
					
				}
				
			}
			
			.text {
				
				a {
					text-decoration: none;
				}
				
				h3 {
					font-size: 42em/@fontSize;
					line-height: 50 / 42em;
					font-weight: bold;
					margin: 0px;
					color: black;
					
					@media @screenSizeSmall {
						font-size: 25em/@fontSize;
					}
					
					@media screen and (max-width: 950px) {
						font-size: inherit;
					}
					
					@media @screenSizeTiny {
						font-size: 23em/@fontSize;
					}
					
					@media @screenSizeMobile {
						padding-top: 10px;
						height: 50 / 42em * 2;
					}
				}
				
				.description {
					color: #666666;
					font-weight: 200;
					.antialias;
					
					@media @screenSizeTiny, @screenSizeMobile {
						display: none;
					}
				}
				
				.more {
					margin-top: 20px;
					
					@media screen and (max-width: 800px) {
						display: none;
					}
					
					@media @screenSizeTiny {
						display: block;
					}
				}
				
			}
			
			.image {
				.aspect-ratio(570, 385);
				
				img {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			
			&:hover {
				
				.text .more span {
					border-bottom: 1px solid @linkColor;
				}
			}
			
			&.active {
				left: 0px;
			}
			
			&.off-right {
				left: 100%;
			}
			
			&.off-left {
				left: -100%;
			}
		}
		
		@media @screenSizeMobile {
			.aspect-ratio(570, 440);
			
			.row {
				position: static;
				margin: 0px !important;
			}
			
			.image {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				outline: 1px solid blue;
				margin: 0px !important;
			}
			
			.text {
				position: absolute;
				bottom: 0px;
				left: 0px;
				right: 0px;
				background: white;
				text-align: center;
				z-index: 10;
				margin: 0px !important;
			}
			
		}
	
	}
}

.news-feed {
	
	.item {
		border-bottom: 1px solid #d1d1d1;
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
		
		&:first-child {
			padding-top: 0px;
		}
		
		.title {
			margin-bottom: 10px;
			
			h3 {
				margin: 0px;
				display: inline;
				font-weight: normal;
				font-size: inherit;
				
				a {
					text-decoration: none;
					color: inherit;
				}
			}
			
			.more-link {
				display: inline-block;
				color: @linkColor;
				text-decoration: none;
				border-bottom: 1px solid white;
				margin-top: 10px;
			}
			
		}
		
		.meta {
			font-size: 0.9em;
			color: @greyText;
			
			a {
				color: inherit;
			}
			
			> span, a {
				margin-right: 10px;
			}
		}
		
	}
	
	&.-news {
		
		.title {
			h3 {
				display: block;
				a:hover {
					.more-link {
						border-bottom: 1px solid @linkColor;
					}
				}
			}
		}
		
	}
	
	&.-service-updates {
		margin-top: 50px;
		
		.sidebar & {
			margin-top: 0px;
			
			.item {
				padding-left: 35px;
			}
		}
		
		.item {
			padding-left: 50px;
			
			.title {
				a {
					color: @linkColor;
					text-decoration: underline;
				}
			}
			
			&:before {
				content: ' ';
				display: block;
				position: absolute;
				top: 15px;
				left: 0px;
				width: 22px;
				height: 20px;
				background: url('/img/service-update-info.png') no-repeat top left;
			}
			
			&:first-child:before {
				top: 0px;
			}
			
			&.level-1:before {
				background-image: url('/img/service-update-alert.png');
			}
			
		}
		
	}
	
}

.getting-around-tiles {
	margin-bottom: 40px;
	
	@media screen and (max-width: 850px) {
		margin-bottom: 0px;
		
		.section-header {
			margin-top: 0px !important;
		}
	}
	
	.item {
		background: #f4f4f4;
		
		@media @screenSizeTiny, @screenSizeMobile {
			margin-bottom: 20px;
		}
		
		h3 {
			line-height: 50/19em;
			margin: 0px;
			font-weight: normal;
			font-size: 19em/@fontSize;
			background: #8E8E8E;
			
			@media screen and (min-width: 700px) and (max-width: 840px) {
				font-size: 15em/@fontSize;
			}
			
			a {
				padding: 0px 20px;
				display: block;
				text-decoration: none;
				color: white;
				position: relative;
				
				&:after {
					content: 'B';
					width: 25px;
					height: 25px;
					position: absolute;
					border-radius: 14px;
					right: 15px;
					top: 12.5px;
					line-height: 25px;
					font-size: 14px;
					line-height: 28px;
					text-align: center;
					background: black;
					color: white;
				}
				
				@media screen and (min-width: 700px) and (max-width: 840px) {
					padding: 0px 10px;
					
					&:after {
						right: 10px;
						top: 7px;
					}
				}

			}
		}
		
		.info {
			padding: 1px 20px;
			
			p {
				margin: 20px 0px;
			}
			
			a {
				color: inherit;
				text-decoration: none;
				cursor: pointer;
				
				&:hover {
					border-bottom: 1px solid currentColor;
				}
			}
			
			@media screen and (min-width: 700px) and (max-height: 840px) {
				font-size: 13px;
				padding: 1px 10px;
				
				p:first-of-type {
					margin-top: 10px;
				}
				p:last-of-type {
					margin-bottom: 10px;
				}
			}
		}
		
		&.-bus {
			color: @busColor;
			h3 {
				background: @busColor;
			}
		}
		
		&.-light-rail {
			color: @lightRailColor;
			h3 {
				background: @lightRailColor;
				
				a:after {
					content: 'L';
				}
			}
		}
		
		&.-active-travel {
			color: @activeTravelColor;
			h3 {
				background: @activeTravelColor;
				
				a:after {
					content: 'A';
				}
			}
		}
	}
	
}

.main-content .section-header, .sidebar .section-header {
	margin-top: 30px;
	border-top: 5px solid black;
	padding-top: 25px;
	padding-bottom: 20px;
	position: relative;
	
	h2, h3 {
		font-size: 19px;
		margin: 0px; 
		font-weight: bold;
		line-height: 20px;
		color: black;
	}
	
	.more {
		position: absolute;
		display: block;
		top: 25px;
		right: 0px;
		line-height: 20px;
		color: @greyText;
		text-decoration: none;
		font-size: 13em/@fontSize;
		
		&:hover {
			border-bottom: 1px solid currentColor;
		}
	}
	
}

@media screen and (max-width: 1000px) {
	.sidebar .section-header {
		
		.more {
			position: static;
			display: block;
			margin-top: 10px;
			
			&:hover {
				border-bottom: 0px;
			}
		}
		
	}
}

.icon-bg-pos(@size, @y) {
	
	&:after {
		background-position: 0px @size*@y*-1;
	}
	
	&.active:after {
		background-position: -@size @size*@y*-1;
	}
}

.trip-planner-icons(@top, @left) {
	
	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: @top;
		left: @left;
		background: url('/img/tp-icons.png') no-repeat top left;
		width: 20px;
		height: 20px;
		pointer-events: none;
	}
	
	.icon-bg-pos(20px, 0);
	
	&[icon=history] {
		.icon-bg-pos(20px, 1);
	}
	
	&[icon=transit-stop] {
		.icon-bg-pos(20px, 2);
	}
	
	&[icon=establishment] {
		.icon-bg-pos(20px, 3);
	}
	
	&[icon=gps] {
		.icon-bg-pos(20px, 4);
	}
}

.trip-planner-form {
	position: relative;
	box-sizing: border-box;
	padding-bottom: 50px;
	
	.sidebar & {
		min-height: 340px;
	}
	
	.field {
		margin-bottom: 15px;
		position: relative;
		
		> label, > .label, .checkbox-field {
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 5px;
			display: block;
		}
		
		input[type=text] {
			.text-field;
			width: 100%;
		}
	}
	
	.location-picker {
		display: block;
		position: relative;
		
		.use-current-location {
			display: block;
			position: absolute;
			top: 8px;
			right: 5px;
			width: 20px;
			height: 20px;
			background: url('/img/tp-gps.png') no-repeat top left;
			cursor: pointer;
			opacity: 0.7;
			transition: opacity 0.2s;
			
			&:hover {
				opacity: 1;
			}
		}
		
		input[type=text] {
			padding-left: 30px;
			padding-right: 30px;
		}
		
		.trip-planner-icons(7px, 5px);
		
	}
	
	.date-time {
		height: 35px;
		position: relative;
		margin-top: 10px;
		
		.date {
			display: block;
			position: relative;
			margin-right: 95px;
		}
		
		.time {
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 80px;
			display: block;
		}
		
	}
	
	.disabled {
		opacity: 0.5;
		
		input, .faux-select {
			color: #ccc !important;
		}
	}
	
	.modes {
		margin-top: 15px;
		margin-bottom: 10px;
		
		.checkbox-field {
			display: inline-block;
			padding-right: 10px;
			
			&:last-child {
				padding-right: 0px;
			}
		}
		
	}
	
	.submit {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		
		.button {
			width: 100%;
		}
	}
	
	// Main content desktop mods...
	@media @screenSizeSmall, @screenSizeMedium {
		.main-content & {
			&:after {
				display: block;
				content: ' ';
				clear: both;
			}
			
			.field {
				width: 50%;
				box-sizing: border-box;
				float: left;
				
				&:nth-child(2n-1) {
					padding-right: 10px;
				}
				
				&:nth-child(2n) {
					padding-left: 10px;
				}
				
				&:nth-child(2n+3) {
					clear: left;
				}
			}
			
		}
	}
	
}

input.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0.001;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	left: -1000px;
}

.faux-select {
	.text-field;
	display: inline-block;
	width: 100%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	&:after {
		position: absolute;
		content: ' ';
		display: block;
		width: 5px;
		height: 5px;
		top: 15px;
		right: 10px;
		.triangle-down(5px, #aaaaaa);
	}
}

.timeEntry-control {
	display: none;
}

.autocomplete-menu {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	background: white;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	z-index: 20;
	margin-top: -2px;
	
	&.has-icons ul li {
		padding-left: 30px;
		
		.trip-planner-icons(5px, 5px);
	}
	
	ul {
		display: block;
		margin: 0px;
		padding: 0px;
		
		li {
			margin: 0px !important;
			padding: 0px 10px;
			line-height: 30px;
			height: 30px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			list-style: none;
			cursor: pointer;
			position: relative;
			
			&.active {
				background: #5588ff;
				color: white;
			}
		}
	}
}

#footercontainer {
	margin-top: 40px;
	
	.footer-sep {
		height: 5px;
		background: linear-gradient(90deg, @busColor 0%, @activeTravelColor 50%, @lightRailColor 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#006fba', endColorstr='#c8102e');
	}
	
	.accessibility-notice {
		.antialias();
		padding-top: 30px;
		margin-bottom: 30px;
		color: @greyText;
		font-style: italic;
		font-weight: 400;
		
		p {
			margin: 0px;
		}
	}
	
	h3 {
		margin: 0px;
		margin-bottom: 10px;
		font-size: 15px;
	}
	
	.fat-footer {
		margin-bottom: 40px;
		
		ul {
			li {
				a {
					color: inherit;
					text-decoration: none;
					
					&:hover {
						color: @linkColor;
						border-bottom: 1px solid @linkColor;
					}
				}
			}
		}
	}
	
	.social-footer {
		padding-bottom: 25px;
		
		&:before {
			border-top-color: #d1d1d1;
			margin-bottom: 25px;
		}
		
		.fb, .tw, .vi {
			display: inline-block;
			width: 26px;
			height: 25px;
			cursor: pointer;
			margin-right: 5px;
			background: no-repeat top left;
		}
		
		.fb {
			background-image: url('/img/social-facebook.png');
		}
		.tw {
			background-image: url('/img/social-twitter.png');
		}
		.vi {
			background-image: url('/img/social-vimeo.png');
		}
		
		a > span {
			.accessibility-hidden;
		}
		
	}
	
	.standard-footer {
	
		&:before {
			border-top-color: #d1d1d1;
			margin-bottom: 25px;
		}
		
		.page-updated {
			color: @greyText;
			font-style: italic;
			
			@media @screenSizeMobile, @screenSizeTiny {
				text-align: center;
			}
		}
		
		ul.standard-links {
			margin: 0px;
			padding: 0px;
			display: inline;
			line-height: 15px;
			
			li {
				margin: 0px;
				padding: 0px;
				list-style: none;
				display: inline;
				white-space: nowrap;
				
				&:after {
					content: ' ';
					display: inline-block;
					margin-left: 13px;
					margin-right: 13px;
					height: 15px;
					border-right: 1px solid #e1e1e1;
					vertical-align: middle;
				}
				
				a {
					color: inherit;
					text-decoration: none;
					display: inline-block;
					vertical-align: middle;
					border-bottom: 1px solid white;
					
					&:hover {
						color: @linkColor;
						border-bottom: 1px solid @linkColor;
					}
				}
			}
			
			@media @screenSizeMobile, @screenSizeTiny {
				display: block;
				text-align: center;
				line-height: 20px;
				
				li {
					padding: 0px 10px;
				}
				li:after {
					display: none;
				}
			}
		}
		
		ul.footer-logos {
			display: block;
			text-align: right;
			list-style: none;
			margin: 0px;
			height: 45px;
			line-height: 45px;
			
			@media @screenSizeMobile, @screenSizeTiny {
				text-align: center;
				padding-bottom: 20px;
			}
			
			li {
				padding: 0px;
				margin: 0px;
				display: inline;
				
				&:after {
					display: inline-block;
					content: ' ';
					border-right: 1px solid #e1e1e1;
					height: 45px;
					margin-right: 15px;
					margin-left: 15px;
				}
				
				&:last-child:after {
					display: none;
				}
				
				a {
					display: inline-block;
					height: 45px;
					opacity: 0.8;
					transition: opacity 0.2s;
					background: no-repeat top left;
					vertical-align: top;
					
					&:hover {
						opacity: 1;
					}
					
					&.act-government {
						width: 89px;
						background-image: url('/img/footer-actgov.png');
					}
					
					&.access-canberra {
						width: 77px;
						background-image: url('/img/footer-accesscanberra.png');
					}
					
					span {
						.accessibility-hidden;
					}
				}
			}
		}
		
	}
	
}

.sidebar #leftcolumn {
	border-top: 5px solid black;
	padding-top: 20px;
}

.deep-nav-menu > ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	
	> li {
		margin: 0px;
		line-height: 20px;
		border-bottom: 1px solid #e0e0e0;
		
		a {
			display: block;
			color: #000810;
			text-decoration: none;
			
			&:hover {
				color: @linkColor;
			}
		}
		
		> a {
			padding-top: 10px;
			padding-bottom: 10px;
			&.active {
				color: @linkColor;
			}
		}
		
		ul {
			margin: 0px;
			padding: 0px;
			line-height: 20px;
			list-style: none;
			margin-left: 30px;
			margin-top: 10px;
			margin-bottom: 10px;
			font-weight: lighter;
			font-size: 13px;
			
			li {
				margin: 0px;
				padding: 0px;
				
				a {
					color: #515151;
					
					&.active, &:hover {
						font-weight: bold;
						color: black;
						
						&:before {
							content: ' ';
							display: block;
							position: absolute;
							margin-left: -15px;
							margin-top: 6px;
							.triangle-right(3px, @linkColor);
							border-left-width: 6px;
						}
					}
					
					&:hover {
						color: @linkColor;
						font-weight: normal;
					}
				}
			}
		}
	}
}

/* Timetable Layout */
#route_direction {
	display: block;
	
	ul {
		display: block;
		padding: 0px;
		margin: 0px;
		list-style: none;
		height: 45px;
		
		li {
			display: block;
			float: left;
			margin: 0px;
			padding: 0px;
			text-decoration: none;
			text-align: center;
			vertical-align: middle;
			background: #C1C1C1;
			color: #333333;
			font-weight: bold;
			
			&.selected {
				background: #ECECEC !important;
				cursor: default;
			}
			
			&:hover {
				background-color: #c5c5c5;
			}
			
			a {
				height: 45px;
				line-height: 45px;
				padding: 0px 30px;
				display: block;
				color: black;
				text-decoration: none;
			}
		}
		
		@media @screenSizeMobile {
			li {
				width: 50%;
				box-sizing: border-box;
				
				a {
					padding: 0px 10px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

table.timetable {
	margin-top: 0px;
	
	th {
		background: #ECECEC;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	th, td {
		text-align: center;
	}
	
	td.accessibility-indicator {
		vertical-align: middle;
		
		img {
			display: block;
		}
	}
	
	td:first-child {
		font-size: 20px;
		font-weight: bold;
		vertical-align: middle;
	}
	
	td.hovering, tr.hovering td {
		background-color: #f3f3f3;
	}
	
	th.hovering {
		background-color: #e3e3e3;
	}
	
}

.sidebar .events {
	ul {
		margin: 0px;
	}
	a {
		color: black;
		text-decoration: none;
		
		&:hover {
			color: @linkColor;
			border-bottom: 1px solid @linkColor;
		}
	}
}

.row-border-top {
	&.thick:before {
		border-top: 5px solid black;
	}
}
.row-border-bottom {
	&.thick:after {
		border-bottom: 5px solid black;
	}
}

.breadcrumbs ul {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
	list-style: none;
	
	li {
		display: inline-block;
		margin: 0px;
		color: @greyText;
		
		&:after {
			content: ' ';
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			vertical-align: middle;
			
			.triangle-right(3px, currentColor);
		}
		
		&:last-child:after {
			display: none;
		}
		
		a {
			color: black;
			text-decoration: none;
			cursor: pointer;
			
			&:hover {
				color: @linkColor;
				border-bottom: 1px solid @linkColor;
			}
		}
	}
}

.main-content {
	border-top: 5px solid black;
	
	h1 {
		font-size: 42em/@fontSize;
		line-height: 50/42em;
		margin-top: 60px;
		margin-bottom: 30px;
		
		@media @screenSizeMobile, @screenSizeTiny {
			font-size: 30em/@fontSize;
			margin-top: 30px;
		}
	}
	
	h2 {
		color: @linkColor;
		font-size: 26em/@fontSize;
		line-height: 35/26em;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	
	h3 {
		font-size: 19px;
		margin: 20px 0px;
		font-weight: bold;
		line-height: 20px;
	}
	
	h4, h5, h6 {
		margin: 20px 0px;
		font-size: 15px;
		line-height: 20px;
	}
	
	ul, ol {
		li {
			margin-left: 20px;
			
			ul, ol {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
	}
	
	ol {
		list-style: decimal;
		
		ol {
			list-style: lower-alpha;
			
			ol {
				list-style: lower-roman;
			}
		}
	}
	
	dl {
	    padding: 10px 15px;
	    background: #eaf6f9;
	    margin: 7px 0;
	    border: 1px solid #bad5dd;
		
		dt {
		    font-weight: bold;
		}
		dd {
		    margin-left: 20px;
		}
	}
	
	img {
		border: 0px;
		max-width: 100%;
	}
	
	table img {
		max-width: none;
	}
	
	pre {
		overflow: auto;
		max-width: 100%;
		box-sizing: border-box;
	}
	
	fieldset {
		background: #f2f2f2;
		border: 0;
	    padding: 20px;
	    margin: 10px 0px;
	    min-width: 0;
		
		legend {
			padding: 0px;
			margin: 0px;
			margin-bottom: 5px;
			display: inline;
			background: #f2f2f2;
			font-size: 15em/@fontSize;
			font-weight: bold;
			
			&:after {
				display: block;
				content: ' ';
			}
		}
		
		ul, ol {
			list-style: none;
			margin: 0px;
			padding: 0px;
			li {
				margin: 0px;
				padding: 0px;
			}
		}
	}
	
	input[type=text], input[type=email], input[type=password], input[type=search], textarea {
		.text-field();
		border: 1px solid rgba(0,0,0,0.2);
		margin: 2px;
	}
	
	textarea {
		height: auto;
	}
	
}

table {
    margin: 1.5em 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table.tablerowshading tr:nth-child(even) td, table.table.tablerowshading tr.even td {
    background: #efefef;
}
table caption {
    font-size: 1.071em;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    color: #404040;
}
th {
    font-size: 1.071em;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #000000;
}
td {
    border-bottom: 1px solid #e1e1e1;
    vertical-align: top;
    font-size: .929em;
}
thead th {
    border-bottom: 2px solid #000000;
    padding: 10px 10px;
    color: black;
}
th, td, caption {
    padding: 7px 10px;
}
caption {
	padding-left: 0px;
}
td, th {
	&:first-child {
		padding-left: 0px;
	}
	&:last-child {
		padding-right: 0px;
	}
}
tfoot {
    background: #fff;
    border-top: 2px solid #bad5dd;
    border-bottom: 2px solid #bad5dd;
    font-weight: bold;
    color: #404040;
    font-size: 1.071em;
}

hr {
	opacity: 0;
}

.smartCardTable {
	background: #ececec;
	
	input[type=text], input[type=password], select {
		border: none;
	}
	
	th, td {
		padding: 10px;
		border-bottom: 1px solid #dedede;
	}
	
	th {
		font-weight: normal;
		vertical-align: top;
		padding-left: 20px;
	}
	
	td {
		vertical-align: top;
	}
	
	tr:last-child {
		th, td {
			border-bottom: 0px;
		}
	}
	
	label.DOB_enter {
		text-transform: uppercase;
		margin-right: 5px;
		font-size: 13px;
		letter-spacing: 0.1em;
	}
	
	p {
		margin: 0px;
	}
	
	@media @screenSizeMobile, @screenSizeTiny {
		&, tr, th, td, tbody, thead {
			display: block;
			width: auto;
		}
		
		th {
			padding-left: 10px;
			border-bottom: 0px;
			padding-bottom: 0px;
		}
	}
}

#centre_button {
	text-align: right;
}

.mobile-nav {
	position: relative;
	
	@media @screenSizeMobile {
		margin-top: 10px;
	}
	
	.mobile-nav-toggle {
		position: absolute;
		right: 0px;
		top: -30px;
		line-height: 20px;
		height: 20px;
		cursor: pointer;
		
		.label {
			display: inline-block;
			line-height: 20px;
			height: 20px;
			vertical-align: middle;
			padding-right: 10px;
			text-transform: uppercase;
			font-weight: light;
			letter-spacing: 0.1em;
		}
		
		.icon {
			.mobile-menu-toggle(20px, 4px);
			display: inline-block;
			vertical-align: middle;
		}
		
		@media @screenSizeMobile {
			position: relative;
			top: 0px;
			right: 0px;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
		}
	}

	.mobile-nav-panel {
		top: 0px;
		right: 0px;
		max-width: 250px;
		padding: 20px;
		padding-bottom: 5px;
		background: #0057b8;
		z-index: 100;
		overflow: auto;
		position: absolute;
		display: none;
		
		.nav-active & {
			display: block;
		}
		
		@media @screenSizeMobile {
			top: 40px;
			max-width: none;
			left: 0px;
			width: auto;
		}
		
		.inner {
			position: relative;
			
			.search {
				margin-bottom: 20px;
				
				input, button {
					background-color: white !important;
				}
				
				input[type=search] {
					width: 100%;
					padding-right: 45px !important;
					box-sizing: border-box;
				}
			}
			
			.items {
				
				ul {
					margin: 0px;
					padding: 0px;
					list-style: none;
					
					li {
						margin: 0px;
						padding: 0px;
						list-style: none;
						border-top: 1px solid rgba(255,255,255,0.4);
						
						a {
							position: relative;
							display: block;
							color: white;
							text-decoration: none;
							padding-top: 10px;
							padding-bottom: 10px;
							padding-right: 30px;
							
							&:after {
								content: '\2192 ';
								display: block;
								position: absolute;
								top: 10px;
								right: 0px;
								opacity: 0;
								transition: opacity 0.2s;
							}
							
							&:hover {
								&:after {
									opacity: 1;
								}
							}
						}
					}
					
					ul {
						display: none;
					}
				}
				
			}
		}
	}

}

.category-sidebar-section {
	margin-top: 30px;
	
	.section-header {
		margin-top: 0px;
		border-top: none;
	}
	
	&:first-of-type {
		margin-top: 0px;
		
		.section-header {
			padding-top: 40px;
			border-top: 5px solid black;
		}
	}
	
	@media @screenSizeTiny, @screenSizeMobile {
		margin-top: 0px;
		
		.section-header {
			padding-top: 0px;
			padding-bottom: 0px;
			
			h3 {
				font-size: 15em/@fontSize;
			}
		}
		
		&:first-of-type .section-header {
			padding-top: 20px;
		}
	}
	
}

@media @screenSizeTiny, @screenSizeMobile {
	.sidebar .accordian {
		
		&:last-of-type {
			margin-bottom: 20px;
		}
		
		.deep-nav-menu {
			display: none;
			border-left: 5px solid #f0f0f0;
			padding-left: 10px;
		}
		
		h3 {
			position: relative;
			cursor: pointer;
			
			&:after {
				content: ' ';
				display: inline-block;
				margin-left: 10px;
				// display: block;
				// position: absolute;
				// top: 0px;
				// right: 0px;
				.triangle-right(5px, black);
			}
		}
		
		&.accordian-active {
			margin-bottom: 20px;
			
			h3:after {
				border: 0px;
				.triangle-down(5px, black);
			}
			
			.deep-nav-menu {
				display: block;
				margin-top: 5px;
			}
		}
		
	}
}

.news-listing {
	
	.item {
		margin-top: 30px;
		border-bottom: 1px solid #d1d1d1;
		
		h2 {
			font-size: 19em/@fontSize;
			line-height: 25/19em;
			margin-top: 0px;
			margin-bottom: 20px;
			
			a {
				text-decoration: none;
				color: black;
			}
		}
		
		p {
			margin: 20px 0px;
			color: #555555;
		}
		
		p.meta {
			
			date, span, a {
				display: inline-block;
				margin-right: 10px;
				font-size: 0.9em;
			}
			
			a {
				color: @greyText;
			}
		}
		
		p.more a {
			text-decoration: none;
			
			&:hover {
				border-bottom: 1px solid currentColor;
			}
		}
	
	}
}

.tiles {
	margin-top: 30px;
	
	.item {
		margin-bottom: 30px;
		
		@media @screenSizeMedium, @screenSizeLarge {
			&:nth-child(3n+4) {
				clear: left;
			}
		}
		
		@media @screenSizeSmall {
			&:nth-child(2n+3) {
				clear: left;
			}
		}
		
		.heading {
			font-size: 19em/@fontSize;
			line-height: 25/19em;
			margin: 0px;
		}
		
	}
	
	&.colored {
		
		.item {
			background: #f5f5f5;
			
			a {
				text-decoration: none;
				
				&:hover p.more span {
					border-bottom: 1px solid black;
				}
			}
			
			&.bus .heading  {
				background: @busColor;
			}
			
			&.light-rail .heading  {
				background: @lightRailColor;
			}
			
			&.active-travel .heading  {
				background: @activeTravelColor;
			}
			
			.heading {
				padding: 12px 20px;
				background: black;
				color: white;
				font-weight: normal;
			}
			
			.text {
				padding: 20px;
				
				p {
					color: black;
					
					&:first-child {
						margin-top: 0px;
					}
					&:last-child {
						margin-bottom: 0px;
					}
					
					&.more {
						font-weight: bold;
					}
				}
			}
		}
	}
	
	&.flat {
		
		.item {
			
			a {
				border-top: 5px solid black;
				display: block;
				text-decoration: none;
				color: black;
				
				&:hover {
					// border-top-color: @linkColor;
					// color: @linkColor;
					
					.more span {
						border-bottom: 1px solid @linkColor;
					}
				}
			}
			
			.heading {
				padding: 20px 0px;
				color: black;
			}
			
			.text {
				
				p {
					&:first-child {
						margin-top: 0px;
					}
					&:last-child {
						margin-bottom: 0px;
					}
					
					&.more {
						color: @linkColor;
					}
				}
			}
		}
	}
	
}

ul.mini-tiles, ol.mini-tiles {
	margin: 20px 0px;
	padding: 0px;
	list-style: none;
	
	li {
		position: relative;
		margin: 10px 0px;
		padding: 0px;
		
		a {
			background: #f2f2f2;
			padding: 15px 55px 15px 20px;
			display: block;
			color: black;
			text-decoration: none;
			cursor: pointer;
			
			&:after {
				background: #0057b8 url('/img/tile-arrow.png') no-repeat center center;
				border-radius: 20px;
				width: 25px;
				height: 25px;
				content: ' ';
				display: block;
				position: absolute;
				right: 20px;
				top: 0.82em;
			}
			
			&:hover {
				background-color: #0057b8;
				color: white;
			}
		}
	}
}

#search-matching {
	background: #f5f5f5;
	padding: 10px 20px;
}

#search-queryform {
	background: #f5f5f5;
	padding: 20px 20px;
	
	.button {
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 35px;
	}
	
	input[type=search] {
		width: 300px;
	}
	
	input[type=search], .button {
		margin: 0px;
		vertical-align: middle;
	}
	
	@media @screenSizeMobile, @screenSizeTiny {
		input[type=search] {
			display: block;
			width: 100%;
		}
		.button {
			margin-top: 10px;
			width: 100%;
		}
	}
}

#search-wrapper {
	
	#search-inner-wrapper {
		width: 75%;
		float: right;
		
		@media @screenSizeTiny, @screenSizeMobile {
			width: auto;
			float: none;
		}
	}
	
	&:after, &:before {
		content: ' ';
		display: block;
		clear: both;
	}
	
	#search-results {
		list-style: none;
		padding: 0px;
		margin: 0px;
		
		.search-result {
			margin: 0px;
			padding: 0px;
			margin-bottom: 30px;
			
			h3 {
				margin: 0px;
				font-size: 16em/@fontSize;
			}
			
			cite {
				color: @linkColor;
			}
			
			.search-date {
				color: @greyText;
			}
			
			p {
				margin: 0px;
			}
			
			.search-explore {
				text-align: right;
			}
			
			.search-quicklinks {
				max-width: 500px;
				margin-left: 40px;
				margin-top: 0px;
				margin-bottom: 10px;
				padding: 0px;
				list-style: none;
				
				li {
					width: 50%;
					float: left;
					padding: 0px;
					margin: 0px;
					padding-right: 20px;
					box-sizing: border-box;
				}
				
				&:after {
					display: block;
					clear: both;
					content : ' ';
				}
			}
			
			.search-quicklinks-search {
				max-width: 500px;
				margin-left: 40px;
				padding-top: 10px;
				
				input[type=submit], input[type=search] {
					vertical-align: middle;
					margin: 0px;
				}
				
				input[type=search] {
					width: 220px;
				}
				
				input[type=submit] {
					padding-top: 0px;
					padding-bottom: 0px;
					background-color: #444444;
					line-height: 35px;
					height: 35px;
				}
			}
		}
	}
	
	#search-contextual-navigation {
		max-width: 500px;
		// margin: auto;
		
		h2 {
			font-size: 16em/@fontSize;
			margin-top: 0px;
			margin-bottom: 5px;
			color: black;
			
			strong {
				color: @linkColor;
			}
		}
		
		ul {
			padding: 0px;
			margin: 0px;
			list-style: none;
			
			li {
				width: 50%;
				float: left;
				padding: 0px;
				margin: 0px;
				padding-right: 20px;
				box-sizing: border-box;
			}
			
			&:after {
				display: block;
				clear: both;
				content : ' ';
			}
		}
	}
	
	.search-pagination {
		margin-top: 40px;
		text-align: left;
		
		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
			
			li {
				margin: 0px;
				padding: 0px;
				display: inline;
				
				a {
					display: inline-block;
					line-height: 40px;
					padding: 0px 15px;
					background: #f6f6f6;
					color: black;
					text-decoration: none;
					
					&:hover {
						background: @linkColor;
						color: white;
					}
				}
			}
		}
		
	}
	
}

#advsearchform {
	padding-bottom: 30px;
	
	ul li {
		padding-left: 200px;
		position: relative;
		margin-bottom: 5px;
		
		label {
			position: absolute;
			left: 0px;
			top: 0px;
			line-height: 35px;
		}
		
		@media @screenSizeTiny, @screenSizeMobile {
			padding-left: 0px;
			
			label {
				position: static;
				display: block;
			}
		}
	}
}

#search-facets {
	
	.facet {
		margin-bottom: 20px;
		
		.facetLabel {
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: bold;
		}
		
		.category {
			.search-facet-count {
				color: #999999;
			}
		}
	}
	
	@media @screenSizeTiny, @screenSizeMobile {
		display: none;
	}
	
}

.clearfix {
	clear: both;
}

// Mobile timetable
#NewTable {
	
	table {
		margin-top: 0px;
		
		.TableHeader td, .TableHeader th {
			border-bottom: 2px solid black;
			background: #ECECEC;
		}

		.mobile-timetable-expander {
			width: 36px;
			height: 36px;
			display: inline-block;
			background: url('/img/mobile-timetable-expander.png') no-repeat;
		}
		.mobile-timetable-collapse-route {
			cursor: pointer;
			text-transform: uppercase;
			
			&:before {
				content: ' ';
				display: inline-block;
				height: 36px;
				width: 36px;
				background: url('/img/mobile-timetable-back.png') no-repeat;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		
		tr.odd td {
			background-color: #f5f5f5;
		}
	}

}

.routes-by-number {
	
	table {
		
		td {
			vertical-align: middle;
			border-top: 0px;
			border-bottom: 0px;
			
			.routenumberlink {
				.button;
				display: block;
				margin: 5px 10px;
			}
			
			p {
				margin: 0px;
			}
			
		}
		
	}
	
	.clearfix {
		&:after {
			display: block;
			content: ' ';
			clear: both;
		}
	}

	.mini-tiles {
		&:after {
			clear: both;
			display: block;
			content: ' ';
		}
		li {
			// .button;
			width: 49%;
			display: block;
			box-sizing: border-box;
			float: left;
			margin-bottom: 10px;
			
			@media screen and (max-width: 600px) {
				width: auto !important;
				float: none !important;
				margin-left: 0px !important;
				margin-right: 0px !important;
			}
			
			&:nth-child(2n) {
				margin-left: 1%;
			}
			
			&:nth-child(2n+1) {
				margin-right: 1%;
			}
		}
	}
	
	.routes-search {
		background: #f2f2f2;
		padding: 20px;
		box-sizing: border-box;
		width: 49%;
		
		@media screen and (max-width: 600px) {
			width: auto !important;
		}
		
		label {
			font-weight: bold;
			display: block;
			margin-bottom: 10px;
		}
		
		input[type=text] {
			border: 0px;
			margin: 0px;
			box-sizing: border-box;
			width: 100%;
		}
		
		.field-wrapper {
			margin-bottom: 15px;
			position: relative;
		}
	}

}

.routes-by-place {
	
	#TopABC {
		font-size: 18px;
		
		a {
			text-decoration: none;
			display: inline;
			color: @linkColor;
			border-bottom: 1px solid @linkColor;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	
}