<!DOCTYPE html>
<html>
	<head>
		<title>Transport Canberra</title>
		<script src="/js/bundle.js"></script>
		<link href="/css/documentation.css" rel="stylesheet">
	</head>
	<body>
		<div class="main">
			{% markdown %}{% include "../../README.md" %}{% endmarkdown %}
		</div>
	</body>
</html>