{% extends "base.swig" %}

{% set pageName = "Check your Balance" %}

{% set showSidebar = true %}
{% set showSidebarNav = true %}

{% set showBreadcrumbs = true %}

{% block content %}
	
	<h1 id="page_title">Check Your Balance</h1> 

	   



	                 
	                  <!-- Remote Content starts here --> 

	<script type="text/javascript">
		// initialise variable to save cc input string
	  	var SRNO_saved = "";
	</script>
	<form action="https://www.action.act.gov.au/fares/check_your_balance?sq_content_src=%2BdXJsPWh0dHAlM0ElMkYlMkZmaWxlcy50cmFuc3BvcnQuYWN0Lmdvdi5hdSUyRkFSVFMlMkZ1c2VfRnVuY3MuYXNwJmFsbD0x" method="post" autocomplete="off"><input type="hidden" name="sq_content_src" value="%2BdXJsPWh0dHAlM0ElMkYlMkZmaWxlcy50cmFuc3BvcnQuYWN0Lmdvdi5hdSUyRkFSVFMlMkZ1c2VfRnVuY3MuYXNwJmFsbD0x" />
	  <p><a href="#Check">Check your balance</a><br />
	    <a href="#Topup">Top Up Your MyWay Card </a><br />
	    <a href="#School">School Students</a><br />
	    <a href="#Seniors">Seniors</a><br />
	    <a href="#Protect">Protect your MyWay account</a></p>
	  <h2><a name="Check" id="Check"></a>Check Your Balance</h2>
	  <table class="EntryTable smartCardTable">
	    <tr>
	      <th width="40%" align="right"><p>
	          <label for="SRNO">Please enter your MyWay Card Serial Number, without spaces (ie:000011106)</label>
	        </p></th>
	      <td width="58%"><input name="SRNO" type="text" id="SRNO" style="width: 90%;" size="10" 
	      onblur="if(this.value=='')this.value=this.defaultValue; SRNO_saved = this.value;
	  this.value = this.value.replace(/[^\d]/g, '');"
	onfocus="if(this.value==this.defaultValue)this.value=''; if(this.value != SRNO_number_saved) this.value = SRNO_number_saved;"
	 value="xxxxxxxxx" /></td>
	    </tr>
	    <tr>
	      <th width="40%" align="right"><p> 
	          <!--          <label for="DOB">-->Please enter your Date of Birth <!--</label>--> 
	        </p></th>
	      <td width="58%"><p>
	          <label class="DOB_enter" for="day">Day
	            <select name="day" id="day">
	              <option value="01" selected="selected">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>

	              <!--
	          <option value="1">01</option>
	          <option value="2">31</option> -->
	            </select>
	          </label>
	          <label  class="DOB_enter" for="month"> Month
	            <select name="month" id="month">
	              <option value="01" selected="selected">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>

	            </select>
	          </label>
	          <label  class="DOB_enter" for="year">Year
	            <select name="year" id="year">
	              <option value="1901">1901</option>
	<option value="1902">1902</option>
	<option value="1903">1903</option>
	<option value="1904">1904</option>
	<option value="1905">1905</option>
	<option value="1906">1906</option>
	<option value="1907">1907</option>
	<option value="1908">1908</option>
	<option value="1909">1909</option>
	<option value="1910">1910</option>
	<option value="1911">1911</option>
	<option value="1912">1912</option>
	<option value="1913">1913</option>
	<option value="1914">1914</option>
	<option value="1915">1915</option>
	<option value="1916">1916</option>
	<option value="1917">1917</option>
	<option value="1918">1918</option>
	<option value="1919">1919</option>
	<option value="1920">1920</option>
	<option value="1921">1921</option>
	<option value="1922">1922</option>
	<option value="1923">1923</option>
	<option value="1924">1924</option>
	<option value="1925">1925</option>
	<option value="1926">1926</option>
	<option value="1927">1927</option>
	<option value="1928">1928</option>
	<option value="1929">1929</option>
	<option value="1930">1930</option>
	<option value="1931">1931</option>
	<option value="1932">1932</option>
	<option value="1933">1933</option>
	<option value="1934">1934</option>
	<option value="1935">1935</option>
	<option value="1936">1936</option>
	<option value="1937">1937</option>
	<option value="1938">1938</option>
	<option value="1939">1939</option>
	<option value="1940">1940</option>
	<option value="1941">1941</option>
	<option value="1942">1942</option>
	<option value="1943">1943</option>
	<option value="1944">1944</option>
	<option value="1945">1945</option>
	<option value="1946">1946</option>
	<option value="1947">1947</option>
	<option value="1948">1948</option>
	<option value="1949">1949</option>
	<option value="1950">1950</option>
	<option value="1951">1951</option>
	<option value="1952">1952</option>
	<option value="1953">1953</option>
	<option value="1954">1954</option>
	<option value="1955">1955</option>
	<option value="1956">1956</option>
	<option value="1957">1957</option>
	<option value="1958">1958</option>
	<option value="1959">1959</option>
	<option value="1960">1960</option>
	<option value="1961">1961</option>
	<option value="1962">1962</option>
	<option value="1963">1963</option>
	<option value="1964">1964</option>
	<option value="1965">1965</option>
	<option value="1966">1966</option>
	<option value="1967">1967</option>
	<option value="1968">1968</option>
	<option value="1969">1969</option>
	<option value="1970">1970</option>
	<option value="1971">1971</option>
	<option value="1972">1972</option>
	<option value="1973">1973</option>
	<option value="1974">1974</option>
	<option value="1975">1975</option>
	<option value="1976">1976</option>
	<option value="1977">1977</option>
	<option value="1978">1978</option>
	<option value="1979">1979</option>
	<option value="1980">1980</option>
	<option value="1981">1981</option>
	<option value="1982">1982</option>
	<option value="1983">1983</option>
	<option value="1984">1984</option>
	<option value="1985" selected="selected">1985</option>
	<option value="1986">1986</option>
	<option value="1987">1987</option>
	<option value="1988">1988</option>
	<option value="1989">1989</option>
	<option value="1990">1990</option>
	<option value="1991">1991</option>
	<option value="1992">1992</option>
	<option value="1993">1993</option>
	<option value="1994">1994</option>
	<option value="1995">1995</option>
	<option value="1996">1996</option>
	<option value="1997">1997</option>
	<option value="1998">1998</option>
	<option value="1999">1999</option>
	<option value="2000">2000</option>
	<option value="2001">2001</option>
	<option value="2002">2002</option>
	<option value="2003">2003</option>
	<option value="2004">2004</option>
	<option value="2005">2005</option>
	<option value="2006">2006</option>
	<option value="2007">2007</option>
	<option value="2008">2008</option>
	<option value="2009">2009</option>
	<option value="2010">2010</option>
	<option value="2011">2011</option>
	<option value="2012">2012</option>
	<option value="2013">2013</option>
	<option value="2014">2014</option>

	            </select>
	          </label>
	        </p></td>
	    </tr>
	    <tr>
	      <th width="40%" align="right"><p>
	          <label for="pwrd">Please enter the answer to your Secret Question / Password</label>
	        </p>
	      </th>
	      <td width="58%" valign="top"><input type="password" name="pwrd" id="pwrd" style="width: 90%;" onblur="if(this.value=='')this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue)this.value=''" value="******" /></td>
	    </tr>
	    <tr>
	      <th width="40%"><label for="rows">Number of Transactions</label></th>
	      <td width="58%"><select name="rows" id="rows">
	          <option value="50" selected="selected">50</option>
	          <option value="100">100</option>
	          <option value="200">200</option>
	          <option value="500">500</option>
	          <option value="1000">1000</option>
	        </select></td>
	    </tr>
	  </table>
	  <div id="centre_button">
	    <input type="submit" name="button" id="getbal_button" value="Submit" />
	  </div>
	  <h2><a name="Topup" id="Topup"></a>Top Up Your MyWay Card</h2>
	  <p>You can <a href="https://form.act.gov.au/smartforms/landing.htm?formCode=1009-myway">recharge  your MyWay Card online</a> using Visa or Mastercard, or for information about  how to top up in person, via Autoload or over the phone, please visit the <a href="https://www.transport.act.gov.au/catch_a_bus/myway#Topup">Transport  for Canberra website</a>. </p>
	  <p>If you’ve topped up recently, you may see a pending transaction when checking your balance. This transaction will apply to your MyWay card account when you tag on to an ACTION bus, or present your card at a recharge agent MyWay terminal. </p>
	  <h2><a name="School" id="School"></a>School Students</h2>
	  <p>The default password for school student MyWay cards is the student's suburb and postcode.  You will need to enter your password in the following format: suburbpostcode (no spaces e.g. <strong>gordon2906</strong>).</p>
	  <h2><a name="Seniors" id="Seniors"></a>Seniors</h2>
	  <p>Seniors are advised that cards will be registered by Council on the Ageing (COTA) as part of the application process. Please wait 7 to 10 working days for your card details to be updated once you have submitted your application form.</p>
	  <p> You should also use your date of birth as the password and type it in the following format:<strong> DD/MM/YYYY</strong>.</p>
	  <p>
	  <h2><a name="Protect" id="Protect"></a>Protect Your MyWay Account</h2>
	  <ul>
	    <li><strong>Always close this window when you have finished.</strong></li>
	    <li><strong>Never check your account details</strong> via a third party site or application.</li>
	    <li><strong>To protect your identity</strong> never provide your personal or security details, including customer ID or passwords, in response to any email, even if it looks legitimate.</li>
	    <li><strong>Always confirm that your data is encrypted</strong> by ensuring a symbol of a lock appears within the browser.</li>
	    <li><strong>Your answer to your Secret Question / Password would be for one of the following questions:</strong><br />
	      - Your mother's maiden name?<br />
	      - Your favourite place?<br />
	      - The name of your first pet?<br />
	      - Your place of birth?<br />
	      - Your favourite colour?<br />
	    </li>
	  </ul>
	  </p>
	  <p>
	  <h2>Forgotten Password</h2>
	  </p>
	  <p>If you are experiencing problems with your password  please call 13 17 10 or alternatively <a href="https://www.accesscanberra.act.gov.au/app/forms/action_feedback">submit  a feedback form</a></p>
	</form>
	<script language="JavaScript" type="text/javascript">
		document.getElementById('SRNO').defaultValue = "xxxxxxxxx" ; 
	    document.getElementById('pwrd').defaultValue = "******" ; 
		//  document.getElementById('helpForSecretQuestion').style.display = "none" ;
	</script> 

	<!-- Remote Content ends here -->   
	
{% block %}